.file-label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    width: 50px;
  
  }
  .file-info {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .file-name {
    font-size: 14px;
    color: #555;
  }
  
  .clear-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
  }
  
  .clear-btn:hover {
    background-color: #d32f2f;
  }
  
  