<div cdkDrag cdkDragRootElement=".your-custom-dialog-class">
    <div class="modal-header" cdkDragHandle>
        <span class="modal-title">Dimensioning Rule (度量规则)</span>
        <i class="fa-solid fa-xmark"></i>
        <button type="button" class="btn-close" aria-label="Close" (click)="Cancel()"></button>
    </div>

    <div class="modal-body">
        <div>
            <table>
                <tr>
                    <td width=50%><img src="../../../../../assets/images/dim_acute_angle.jpg"
                            style="width:100%;height:100%;border:1px solid black" /></td>
                    <td width=50%><img src="../../../../../assets/images/dim_obtuse_angle.jpg"
                            style="width:100%;height:100%;border:1px solid black" /></td>
                </tr>
            </table>
        </div>
    </div>
</div>