.custom-button {
  /* Add your default button styles here */
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
}

.col {
  flex-basis: 0;
  flex-grow: 0;
}

/* .custom-button:hover {
  
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
  } */

.custom-button.custom-button.clicked {
  background-color: green;
}

/* Add more specific styles for the clicked button */
.custom-button.clicked {
  /* Add styles for the clicked button here */
  border: 2px solid red;
}

.mainbox {
  margin: 10px;
}

.heading {
  font-size: large;
  font-weight: 500;
}

.subheading {
  font-size: medium;
  font-weight: 500;
}

.tablebuttons {
  width: 170px;
  height: 28px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: center;
}

.col {
  flex-basis: 0;
  flex-grow: 0;
  max-width: 100%;
  padding: 0 5px;
}

img {
  width: 180px;
}

.empty-field {
  background-color: wheat;
  /* or any other color you prefer */

}

.Green-Steel-label {
  width: 12rem;
  font-size: large;
  font-weight: 500;
  padding-bottom: 2px;
}

.Green-steel-perc-label {
  width: 12rem;
  font-size: large;
  font-weight: 500;
  padding-bottom: 2px;
}

.Green-Steel {
  width: 5rem;
  font-size: x-large;
  padding-bottom: 1rem;
  padding-left: 0;

  input {
    margin-left: 0;
  }
}

.form-check :checked {
  background-color: #0dfd1f;
  border-color: #0dfd1f;
}