table,tr,td,th{
  border: none !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
tr:hover{
  background:none;
}
label{
  font-weight: 600;
  font-size: 16px;
}

label,input,select{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
