<div class="modal-header">
    <h4 class="modal-title">Import BBS from IFC (从 IFC 导入BBS)</h4>
    <i class="fa-solid fa-xmark"></i>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>

<div class="modal-body">
    <div class="row">
        <div id="Upload/Table" class="col-md-4">
            <div id="Buttons">
                <button type="button">Upload</button>
                <input type="file" id="myfile" name="myfile">
            </div>
            <div class="tablebox" id="Table_1">

            </div>
            <div class="tablebox" id="Table_2">

            </div>
            <div>
                <label>Member Qty:</label>
                <input type="number">
            </div>
            <div>
                <label>Merge Bar Mark:</label>
                <input type="checkbox">
            </div>

        </div>
        <div id="Canvas" class="col-md-8 canvas">
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="import btn btn-transparent" (click)="Import()">Import (导入)</button>
    <button type="button" class="btn btn-primary me-2" (click)="Cancel()">Cancel (取消)</button>
</div>