.container-fluid {
    padding: 0;
}

.Header {
    display: flex;
    justify-content: space-between;
    font-size: x-large;
    padding: 10px 5px;
    background: #e6e6e6;

    span {
        display: flex;
        align-items: center;
        font-size: larger;
        font-weight: 500;
    }
}

.subHeading {
    font-size: large;
    padding: 8px;
    border-bottom: 1px solid #e6e6e6;
    background: #eeeeee;
}

.image-cell {
    font: 12px Helvetica, Arial, sans-serif;
    text-align: center;
    cursor: pointer;
    padding: 5px;
}

.image-thumb {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto 5px auto;
}


.table-row {
    flex-wrap: wrap;
    display: flex;
}