.product-clicked{
  /* border: 2px solid greenyellow; */
  background: #dae8f1;
}
tr{
  cursor: pointer !important;
}
.copy-grid-table{
  height: 60vh !important;
  scroll-behavior: smooth;
  overflow-y: scroll;
}
thead{
  position: sticky;
  top: 0px;
  z-index: 99;
}
button{
  cursor: pointer !important;
}
