.box {
    display: flex;
    flex-grow:10px
  }
  .ng-selectcustomer {    
    width: 230px;
  }

  .colbutton {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 10%;
    padding: 5px;
    padding-left: 10px;
    }