
<div class="modal-header" >
  <h4 class="modal-title">Add New</h4>
  <i class="fa-solid fa-xmark"></i>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>

</div>
<div class="modal-body " >


  <!-- <div class="row" *ngIf="formname=='shapesurcharge'">
 <app-create-shapesurcharge ></app-create-shapesurcharge> 
</div>
<div *ngIf="formname=='corecageproductcode'">
  <app-create-corecageproductcode ></app-create-corecageproductcode> 
 </div>
 <div *ngIf="formname=='cab'">
  <app-create-cab ></app-create-cab> 
 </div> -->

</div>
<div class="modal-footer" >
  <button type="button" (click)="cancel()" class="btn btn-secondary">
 Cancel
  </button>
  <button
    type="button"
    (click)="submitReview()"
    class="btn btn-primary me-2"
    [disabled]="disableSubmit"
  >
    Submit
  </button>
</div>
