.container-fluid {
  padding: 0px;
}
.mainHeading {
  font-size: x-large;
  font-weight: 500;
  padding: 10px 0;
  background: #d8dcdf;
}
.subHeading {
  font-size: large;
  font-weight: 500;
  padding: 10px 0;
}
.body {
  padding: 0 10px;
  font-size: medium;
}
.footer {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  background: inherit;
}

thead{
  position: sticky;
  top: 0;
}