:host:last-child .bar {
  display: none;
}
.wrapper {
  display: flex;
  justify-content: flex-end;
}
.content {
  flex: 1;
}
.bar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  /* margin: 0 -16px 0 16px; */
  justify-self: flex-end;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  background: blueviolet;
  background-clip: content-box;
  cursor: ew-resize;
  opacity: 5;
}
.bar:hover,
.bar:active {
  opacity: 1;
}
