.my-custom-scrollbar {
    position: relative;
    max-height: 500px;
    overflow: auto;
  }
  .form-control {
    height: 38px !important; 
  }

  :host ::ng-deep .collapse-toggle-btn {
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 10;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 2px 6px;
  cursor: pointer;
}
.form-check-input {
  width: 2.5em;
  height: 1.3em;
  cursor: pointer;
}

.custom-toggle .form-check-input {
  width: 3.5rem;     
  height: 2rem;      
  cursor: pointer;
  border: 2px solid #adb5bd;
  background-color: #e9ecef;
  transition: all 0.3s ease;
}


.custom-toggle .form-check-input:checked {
  background-color: #0d6efd;
  border-color: #0d6efd;
}


/* Better label spacing and size */
.custom-toggle .form-check-label {
  font-size: 1rem;
  color: #212529;
  vertical-align: middle;
}
#mainToggle {
  width: 3rem;
  height: 1.3rem;
  margin-top: 1rem;
  margin-left: 0.1rem;
}

/* .form-check.form-switch {
  display: flex;
  align-items: center;
} */

.d-flex label {
  white-space: nowrap;
}