.modal-header {
    background: #a5a7ab8c;
    font-weight: 500;
    font-size: x-large;
}

.modal-title {
    font-size: larger;
    font-weight: 500;
}

h4 {
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    font-family: Roboto, sans-serif;
    letter-spacing: .03125em;
    margin: 0 0 16px;
}

.subHeading {
    font-size: large;
    font-weight: 500;
    padding-bottom: 20px;
}