.container-fluid {
  padding: 0px;
}
.mainHeading {
  font-size: x-large;
  font-weight: 500;
  padding: 10px 0;
  background: #d8dcdf;
}
.footer {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  background: inherit;
}

/* .movable-container {
  display: block;
  position: absolute;
  cursor: grab;
  border: 1px solid #000;
  background-color: white;
  z-index: 100;
  padding: 35px;
  padding-top: 0px;
  
  transition: right 0.1s, top 0.1s;
} */

#mydiv {
  position: absolute;

  cursor: move;
  border: 1px solid #000;
  background-color: white;
  z-index: 100;
  min-width: 1000px;
  max-width: 750px;
 
  transition: right 0.1s, top 0.1s;
}
#block_modal {
  display: block;
  background: rgba(0, 0, 0, 0.66) no-repeat 0 0;
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}