.width_set{
padding-left:5px ;
margin-top: 20px;
}


.input-container {
    overflow: auto;
    max-height: 150px; /* Adjust the height as per your requirements */
  }
  
  .scrollable-input {
    width: 100%; /* Adjust the width as per your requirements */
    box-sizing: border-box;
  }


  .my-tooltip-class.tooltip-inner {
    background-color: black;
    font-size: 100%;
    color: #fff;
    border: solid 1px;
    border-color: #e0e1e1;
}

.my-tooltip-class.bs-tooltip-end .tooltip-arrow::before {
    border-right-color: #e0e1e1;
}

.my-tooltip-class.bs-tooltip-start .tooltip-arrow::before {
    border-left-color: #e0e1e1;
}

.my-tooltip-class.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: #e0e1e1;
}

.my-custom-class.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: #e0e1e1;
}
.table th{
  /* min-width: fit-content !important; */
  font-size: 14px;
}
.table td{
  text-align: center;
  min-width: fit-content !important;
  padding: 0 !important;
}
.custom-switch {
  padding-left: 2.7rem !important;
}
.Set_width
{
  width: 120px  !important;
}
.Set_headerWidth{
  width: 50px  !important;
}

tbody tr:hover {
  background: #8bcce8 !important;
}