.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
  margin-top: 16px;
}

.center {
  margin: auto;
  margin-right: 50%;
  margin-left: 30%;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

table {
  width: 100%;
}

.mat-drawer-inner-container {
  width: 63%;
  height: 100%;
  overflow: auto;
}

.mdc-list-item.mdc-list-item--with-one-line {
  height: 28px;
}

.sub-menu {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.img2 {
  padding-top: 5px;
  width: 90%;
  padding-bottom: 5px;
}

.mat-expansion-panel-header.mat-expanded {
  height: 42px;
}

.mat-expansion-panel-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 15px;
  border-radius: inherit;
  transition: height 225ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mdc-list-item {
  padding-left: 0px;
  padding-right: 11px;
  font-weight: bold;
}

.mdc-menu-surface.mat-mdc-select-panel {
  width: 100%;
  max-height: 275px;
  position: static;
  outline: 0;
  margin: 0;
  padding: 8px !important;
  list-style-type: none;
  padding-left: 10px;
}

.logo {
  max-width: 258px;
  float: left;
  width: 100%;
  margin-top: 0;
  padding: 0;
}

.user-id-name {
  max-width: 140px;
  color: #fff;

  display: inherit;
  float: right;
  text-align: left;
  font-weight: 400;
  font-size: 12px;
}

.example-spacer {
  flex: 1 1 auto;
  text-align: center;
}

.logo1 .mobile {
  display: none !important;
}

.logo2 .mobile2 {
  display: none !important;
}

/* when screen is less than 600px wide
   show mobile version and hide desktop */
@media only screen and (max-width: 900px),
  (min-device-width: 900px) and (max-device-width: 1024px) {
  .logo1 .mobile {
    display: block !important;
  }

  .logo1 .desktop {
    display: none !important;
  }

  .displayHeading {
    display: none !important;
  }

  .displayDropdown {
    display: none !important;
  }

  .logo2 .mobile2 {
    display: block !important;
  }
}

.even-option {
  background-color: #f5f2f2;
  /* Light grey for even options */
}

.odd-option {
  background-color: #ffffff;
  /* White for odd options */
}

/* Optional: Add hover effect */
mat-option:hover {
  background-color: #e0e0e0;
  /* Slightly darker grey on hover */
}

::ng-deep .mat-mdc-option:hover:not(.mdc-list-item--disabled),
.mat-mdc-option:focus:not(.mdc-list-item--disabled),
.mat-mdc-option.mat-mdc-option-active,
.mat-mdc-option.mdc-list-item--selected:not(.mat-mdc-option-multiple):not(
    .mdc-list-item--disabled
  ) {
  background: #e8f0ff;
}

.list-menu:hover .list-item {
  display: block !important;
  transition: display 0.5s ease-in-out;
}

.list-item {
  display: none;
  position: absolute;
  top: 256px;
  left: 65px;
  z-index: 10;
  background: aqua;
  padding: 10px;
  transition: display 0.5s ease-in-out;
}

.floating-popup {
  position: fixed;
  background-color: white;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  pointer-events: none; /* Prevent the popup from interfering with mouse events */
}

.sidebar {
  position: relative;
  width: 250px;
  height: 100vh;
  background: #ff2;
}

/* Add these styles to your component CSS file */
.sidenav-collapsed {
  width: 60px !important; /* Define the collapsed width */
  min-width: 60px !important;
  transition: all 0.5s ease-in-out;
}

.sidenav-expanded {
  width: 250px !important; /* Define the expanded width */
  min-width: 250px !important;
  transition: all 0.5s ease-in-out;
}

mat-sidenav-content {
  transition: all 0.5s ease-in-out;
}

.sidenav-content-expand {
  margin-left: 60px !important;
  transition: all 0.5s ease-in-out;
}

.sidenav-content-collapsed {
  margin-left: 250px !important;
  transition: all 0.5s ease-in-out;
}

.sidenav-icons span div {
  min-height: 48px;
  height: 48px;
  font-size: xx-large;
  color: #003ec4;
  font-weight: 600;
  text-align: center;
}
.list-menu div span div {
  font-size: x-large;
}

/* TEST */
.submenu {
  position: absolute;
  left: 60px;
  background-color: #ffffff;
  border: 3px solid #003ec4;
  z-index: 100;
  transition: all 0.2s ease-in-out;
  font-size: larger;
  border-radius: 7px;
}

.submenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 250px;
}

.submenu li {
  padding: 15px 20px;
}

.submenu li:hover {
  /* background-color: #396ddf40; */
  background-color: #003ec4;
  color: white;
  font-size: larger;
  transition: all 0.5s ease-in-out;
}

.subhead {
  padding: 15px 20px !important;
  font-size: medium;
  font-weight: 600;
  background-color: #ffffff !important;
  color: #002b87 !important;
}

.triangle-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 12px solid #003ec4;
  border-bottom: 15px solid transparent;
  position: absolute;
  top: -1px;
  left: -12px;
}
/* .nav-item {
  text-wrap: nowrap;
} */

/* width */
::-webkit-scrollbar {
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkgrey;
}

::ng-deep .mdc-form-field {
  font-weight: bold !important;
}

:host ::ng-deep .mat-mdc-select-placeholder {
  font-weight: bold;
}

::ng-deep
  .mat-mdc-checkbox
  .mdc-checkbox
  .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not(
    [data-indeterminate="true"]
  )
  ~ .mdc-checkbox__background {
  border-color: #003ec4 !important;
  background-color: transparent !important;
}
::ng-deep
  .mat-mdc-checkbox
  .mdc-checkbox
  .mdc-checkbox__native-control:enabled:checked
  ~ .mdc-checkbox__background {
  border-color: #003ec4 !important;
  background-color: #003ec4 !important;
}

.space-between-text {
  width: 130px;
}

.customer-text {
  font-weight: bold;
}

.project-text {
  font-weight: bold;
}

::ng-deep .mat-drawer-backdrop.mat-drawer-shown {
  visibility: hidden !important;
}
.nav-link{
  white-space: nowrap !important;
}

.create-order-wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
  align-items: center;
  margin-left: 94px;
}

.single-inline-info {
  font-size: x-small;      /* Smaller text */
  font-weight: bold;
  white-space: nowrap;  /* Force single line */
  margin-right: 10px;   /* Space between items */
}

::ng-deep .mat-mdc-form-field {
    width: 35% !important;
}


