ion-icon {
    color: blue;
  }

  .accordion-button.collapsed {
    background: blue
  }

  .accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }
  .accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 0.8rem;
    color: var(--bs-accordion-btn-color);
    text-align: left;
    background-color: var(--bs-accordion-btn-bg);
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: var(--bs-accordion-transition);
}



table {
  width: 100%;
  height:50%;
}

.mat-mdc-table .mdc-data-table__row:nth-child(odd) {
  background-color: #e6e6e6;
  }
/* .mat-mdc-table .mdc-data-table__row :nth-child(even){
  background-color: #ffffff;
}


.mat-mdc-table .mdc-data-table__row :nth-child(odd){
  background-color: #e6e6e6;
} */





.ng-selectcustomer {
  width: 240px;
}

.ng-selectwbs{
width: 240px;
}

.colbutton {
flex-basis: 0;
flex-grow: 1;
max-width: 100%;
padding: 2px;
padding-left: -10px;
}

.custom-switch {
  padding-left: 3rem;
  padding-top: 7px;
}
.custom-control-label {
  position: relative;
  padding-left: 5px;
  margin-bottom: 0;
  vertical-align: top;
}




  /* .custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #6AB200;
    background-color: #6AB200;
} */



.darkrowcolor {
  color: white;

}
.wbsfilter{
  padding-left: 10px;
}

.my-custom-scrollbar{
  max-height: none;
}
thead tr {
  position: sticky !important;
  top: 0;
  background-color: #f2f2f2;
}
.legends{
  border-color: black;
  border-style: double;
  padding: 4px
}
.table-borderless tr td{
  border: none !important;
}
.table-borderless{
  border: none !important;
}
.table-responsive table tbody tr:first-child {
  position: sticky !important;
  top: 25px;
  background-color: #f2f2f2;
}


::ng-deep  .table-bordered td, .table-bordered th{
  max-height: 40px;
  white-space: nowrap;
}
.accord-table{
  border: none;
  padding: 2px !important;
}
.accord-table td{
  border: none;
}
.accord-table td:hover{
  background: none;
}
.accord-table tr:hover{
  background: none;
}
table tr td i {
  font-size: 16px;
}

/* .custom-control-label:before{
  background-color:red;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  background-color:black;
} */

.posted-released {
  white-space: nowrap !important; /* Prevent text wrapping */
  overflow: hidden !important; /* Hide overflowing text */
  text-overflow: ellipsis !important; /* Display ellipsis for overflow */
  /* max-width: 80px; Set maximum width for headings */
}
/* th {
  max-height: 40px !important ;
} */
/* @media screen and (min-width: 1800px) {
  .table-responsive[_ngcontent-fof-c183] table[_ngcontent-fof-c183] {
      height: 150px !important;
  }
} */

::ng-deep .ng-dropdown-panel{
  min-width: 100px !important;
}

.form-control{
  padding: 0;
}

.table-bordered, .table-bordered td, .table-bordered th {
  border: 1px solid #000000  !important;
  padding: 5;
  /* margin: 5px; */
}
.table-bordered th {
  max-height: 70px;
  /* margin: 5px; */
}
.left-modal .modal-dialog {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  margin: 0 !important;
  height: 100vh !important;
  /* max-width: 70vw !important; */
}

/* Second modal on the right */
.right-modal .modal-dialog {
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  margin: 0 !important;
  height: 100vh !important;
  max-width: 30vw !important;
}
.left-modal .modal-dialog {
  z-index: 1050 !important;
}

.right-modal .modal-dialog {
  z-index: 1060 !important;
}

