<div class="container-fluid">
    <div class="card m-1">
        <h3 class="card-header d-flex flex-column justify-content-center align-items-center"><b>Project Contract List</b></h3>
          <div class="card-body" style="margin-top:-11px !important;">
             <ngb-accordion #acc="ngbAccordion" title ="Filters">>
                <ngb-panel>
                    <!-- <ng-template ngbPanelTitle>
                        <span style="color:#0880ae;"><b>Filters</b></span>
                    </ng-template> -->
                    <ng-template ngbPanelContent>
                        <form [formGroup]="projectcontractform" (ngSubmit)="onSubmit()">
                            <div class="card-body" >
                              <div class="row">
                                  <div class="col">
                                      <label class="form-label">Customer Name</label> <br>
                                    
                                      <ng-select  [selectOnTab]="true"  formControlName="customer"  class="w-auto"  >
                                          <ng-option *ngFor="let sList of Customerlist" [value]="sList.item_id">
                                              {{sList.item_text}}
                                          </ng-option>
                                      </ng-select>
                                  </div>
  
                                  <div class="col">
                                      <label class="form-label">Project</label> <br>
                                      
                                      <ng-select  [selectOnTab]="true"  formControlName="project"   class="w-auto"   >
                                          <ng-option *ngFor="let sList of projectList" [value]="sList.item_id">
                                              {{sList.item_text}}
                                          </ng-option>
                                      </ng-select>
                                  </div>
                                  <div class="col">
                                      <label class="form-label" >Contract </label> <br>
                                      <ng-select  [selectOnTab]="true"  formControlName="contract"   >
                                          <ng-option *ngFor="let sList of Contractlist" [value]="sList.item_id">
                                              {{sList.item_text}}
                                          </ng-option>
                                      </ng-select>
                                  </div>
  
                                  <!-- <div class="colbutton">
                                      <label class="form-label">Status</label> <br>
                                      <div class=" row custom-control custom-switch">
                                          <input type="checkbox" class="custom-control-input"
                                              formControlName="status" id="customSwitches" [checked]="true">
                                          <label class="custom-control-label"
                                              for="customSwitches">Active</label>
                                      </div>
                                  </div>                                -->
                              
                                  <div class="col">
                                      <div class="d-flex" style="Padding-top:16px;">
                                          <br>
                                          <button class="btn btn-primary btn-sm" type="submit">Search</button>
                                         
                                          <button class="btn btn-primary btn-sm" type="reset" 
                                          (click)="onReset()">Reset</button> 
                                         
                                         </div>
                               </div>
                                
  
                              </div>
                            
                          </div>
                          </form>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
          
            <div class="row">
                <div class="col-md-8">
                 

                </div>
                <div class="col-md-4 float-right">

                    <div class="input-group flex-nowrap ">
                        <input class="form-control" type="search" placeholder="Search " value="search"
                            id="example-search-input" name="search" [(ngModel)]="searchText"
                            [ngModelOptions]="{standalone: true}">
                        <span class="input-group-append  ms-n5">
                            <span class="input-group-text ">
                                <i class="bi bi-search"></i>
                            </span>
                        </span>

                        <div class="ml-4 mr-3">
                            <span class="input-group-text ">
                                <i class="material-icons" style="font-size:20px;"
                                    ngbTooltip="Download Excel" (click)="downloadFile()">download</i>
                            </span>


                        </div>
                    </div>

                </div>

            </div>


            <div class=" table-responsive table-wrapper-scroll-y my-custom-scrollbar table-bordered">
                <table class="table m-auto   d-table table-responsive   table-bordered " [cellPadding]="0"
                    [cellPadding]="5">
                    <thead>
                        <tr>
                            <th>
                                <i class="bi bi-search" (click)="toggleFilters = !toggleFilters"></i>
                            </th>
                            <th >Project Code</th>
                            <th  >Project Name</th>
                            <th >Project Description</th>
                            <th >Project Co-ordinator</th>
                            <th  >Contract Number</th>
                            <th >Contract Description</th>
                            <th >Start Date</th>
                            <th >End Date</th>                       
                          
                        </tr>
                    </thead>
                    <thead *ngIf="toggleFilters">
                        <tr>
                            <th></th>
                            <th><input class="form-control" type="text" id="searchBlock" placeholder="Project Code" /></th>
                            <th><input class="form-control" type="text" id="searchFrom" placeholder="Name" /></th>
                            <th><input class="form-control" type="text" id="searchTo" placeholder="Project Desc" /></th>
                            <th><input class="form-control" type="text" id="searchPart" placeholder="Co-ordinator" />  </th>
                            <th><input class="form-control" type="text" id="searchStructure" placeholder="Contract No." /></th>
                            <th><input class="form-control" type="text" id="searchPart" placeholder="Contract Desc" /> </th>
                            <th><input class="form-control" type="text" id="searchStructure" placeholder="Start Date" /></th>
                            <th><input class="form-control" type="text" id="searchPart" placeholder="End date" /> </th>
                                    
                        </tr>
                    </thead>
                    <tbody>
            
                        <tr *ngFor="let item of ProjectContractList  | filter:searchText   ; index as i ">
            
                            <ng-container *ngIf="enableEditIndex != i">
                                <td>
                                </td>
                                <td>{{item.projcode}} </td>
                                <td>{{item.projname}} </td>
                                <td>{{item.desc}} </td>
                             
                                <td>{{item.coordinator}} </td>
                                <td>{{item.contrano}} </td>  
                                <td>{{item.contradesc}} </td>
                                <td>{{item.startdate}} </td>  
                                <td>{{item.enddate}} </td>  
            
                               
                            </ng-container>
                           
                        </tr>
            
            
            
            
                    </tbody>
                </table>               
            </div>
            <div class="d-flex mt-2 ">
                <div>
                    <ngb-pagination [collectionSize]="20"[(page)]="page" [pageSize]="pageSize"[maxSize]="20"
                                    (pageChange)="getPageData()" [boundaryLinks]="false" *ngIf="searchResult">
                        <ng-template ngbPaginationPrevious>Prev</ng-template>
                        <ng-template ngbPaginationNext>Next</ng-template>
                    </ngb-pagination>
                </div>
                <div>
                    <select class="custom-select mr-2 ml-3" style="width: auto" [(ngModel)]="pageSize"
                            (ngModelChange)="getPageData()">
                        <option [ngValue]=5>5 </option>
                        <option [ngValue]=10>10 </option>
                        <option [ngValue]=20>20 </option>
                    </select>
                    <span>Items per page</span>
                </div>
        
            </div>
        </div>
    </div>
</div>