.width_set{
    padding-right: 5px;
}

.table th{
    /* min-width: fit-content !important; */
    font-size: 14px;
  }
  .table td{
    text-align: center;
    min-width: fit-content !important;
    padding: 0 !important;
  }

  .hide-image {
    display: none !important;
  }
  .movable-container {
    display: block;
    position: absolute;
    cursor: grab;
    border: 1px solid #000;
    background-color: white;
    z-index: 100;
    padding: 35px;
    padding-top: 0px;
    border-radius: 13px;
    transition: right 0.1s, top 0.1s;
  }

  tbody tr:hover {
    background: #8bcce8 !important;
  }
/* 
  .sub-table tr:hover {
    background: white !important;
  } */