<div cdkDragRootElement=".your-custom-dialog-class" cdkDrag cdkDragRootElement=".modal-content">
<div class="modal-header"  cdkDragHandle>
  <h4 class="modal-title" *ngIf="!isaddnew">Add Group Marking</h4>
  <h4 class="modal-title" *ngIf="isaddnew">Add Group Marking from Another Project</h4>
   <button type="button" class="close"  (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>


  <!-- <i class="fa-solid fa-xmark"></i>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button> -->

</div>
<div class="modal-body ">

  <div class="row">
    <form [formGroup]="wbscreateForm">
      <div class="container">
        <div class="row" *ngIf="isaddnew">

          <div class="col-md-4">
            <label class="form-label">Customer</label> <br>
            <ng-select formControlName="customer" class="ng-selectcustomer" (change)="changecustomer($event)">
              <ng-option *ngIf="loading">
                <div style="justify-content: center;display: flex;">
                  <div class="spinner-border text-secondary" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
              </ng-option>
              <ng-option *ngFor="let sList of customerList" [value]="sList.CustomerNo">
                {{sList.Customername}}
              </ng-option>
            </ng-select>
          </div>

          <div class="col-md-4">
            <label class="form-label">Project</label> <br>
            <ng-select formControlName="project" class="ng-selectcustomer" (change)="changeproject($event)">
              <ng-option *ngFor="let sList of projectList" [value]="sList.ProjectId">
                {{sList.Description}}
              </ng-option>
            </ng-select>
          </div>

          <div class="col-md-2">
            <label class="form-label"> Product Type</label> <br>
            <ng-select formControlName="projecttype" [ngModel]="prodttype" [readonly]="true">
              <ng-option *ngFor="let sList of producttypeList" [value]="sList.ProductTypeID">
                {{sList.ProductType}}
              </ng-option>
            </ng-select>
          </div>
          <div class="col-md-2">
            <label class="form-label">Str Element</label> <br>
            <ng-select formControlName="StructureElement" [ngModel]="structure" [readonly]="true">
              <ng-option *ngFor="let sList of structureList" [value]="sList.StructureElementTypeId">
                {{sList.StructureElementType}}
              </ng-option>
            </ng-select>
          </div>
        </div>
        <br>
        <div class="d-flex" *ngIf="ShowPrecast">
          <!-- <button type="submit" class="btn btn-primary ms-auto" (click)="importPrecast()" title="Import from precast"> Import </button> -->
          <!-- <i class="bi bi-arrow-down-square icon-large ms-auto" (click)="importPrecast()" title="Import from precast">
          </i> -->

        </div>
        <div class="row d-flex ">
          <div class="col-md-3">
            <label class="form-label">Group Marking</label> <br>
            <div class="d-flex ">
              <div>
                <ng-select formControlName="groupmark" #groupmarkSelect placeholder="Select Group Mark"
                  class="ng-selectcustomer" (change)="changegroupmark($event)">
                  <ng-option *ngIf="loading">
                    <div style="justify-content: center;display: flex;">
                      <div class="spinner-border text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                    </div>
                  </ng-option>
                  <ng-option *ngFor="let sList of groupmarkList" [value]="sList.intGroupMarkId">
                    {{sList.vchGroupMarkingName}}
                  </ng-option>
                </ng-select> &nbsp;
                <span class="text-danger"
                  *ngIf=" formsubmit && wbscreateForm.controls['groupmark'].invalid && wbscreateForm.controls['groupmark'].errors && wbscreateForm.controls['groupmark'].hasError('required')">*
                  Groupmark Required </span>

              </div>

            </div>
          </div>

          <div class="col-md-1">
            <i class="material-icons" style="    position: relative;
              top: 34px;
              left: 10px;" *ngIf="!isaddnew" (click)="addnew()" ngbTooltip="Add Other">add_circle</i>
          </div>

          <div class="col-md-2">
            <label class="form-label">Post Quantity</label> <br>
            <input type="text" id="postedQuantity" formControlName="postqty" placeholder="Quantity"
              class="form-control" />

            <span class="text-danger"
              *ngIf=" formsubmit && wbscreateForm.controls['postqty'].invalid && wbscreateForm.controls['postqty'].errors && wbscreateForm.controls['postqty'].hasError('required')">*
              Qty Required </span>

          </div>

          <div class="col-md-2">
            <label class="form-label">Rev</label> <br>
            <input type="text" formControlName="rev" placeholder="Rev" class="form-control" [readonly]="true" />


          </div>



          <div class="col-md-3 ">
            <label class="form-label">Remark</label> <br>

            <textarea class="form-control" placeholder="Remark" formControlName="remark" rows="1"></textarea> &nbsp;
          </div>
          <div class="col-md-1 mt-4">
            <button class="btn btn-primary btn-sm" type="submit" (click)="Savegroupmark()">Save</button>
          </div>


        </div>

        <div class="row">
          <table class="table  table-bordered w-50 m-auto table-responsive d-table table-striped">
            <thead class="bg-secondary text-white">
              <tr>
                <th colspan="5" class="text-center"><span>Group Marking</span></th>
              </tr>
            </thead>
            <thead>
              <th> Group Marking </th>
              <th>Revision </th>
              <th> Posted Qty </th>
              <th> Remark </th>
              <th> Action </th>

            </thead>
            <tbody>
              <tr *ngFor="let row2 of Groupmarkinglist;  index as isgroupmark;">
                <ng-container *ngIf="enableEditIndex != isgroupmark">


                  <td>{{row2.GroupMark}}</td>
                  <td>{{row2.Rev}}</td>
                  <td>{{row2.Qty}}</td>
                  <td>{{row2.Remark}}</td>
                  <td *ngIf="row2.isaddedNew===true">
                    <i class="material-icons" ngbTooltip="Edit" (click)="onEdit(row2,isgroupmark)">mode_edit</i>&nbsp;
                    <i class="bi bi-trash" (click)="deletegroupmark(Groupmarkinglist,isgroupmark)" ngbTooltip="Deleted"
                      style="color:red; font-size:15px"></i>
                  </td>
                  <td *ngIf="row2.isaddedNew===false">

                  </td>


                </ng-container>
                <ng-container *ngIf="enableEditIndex == isgroupmark">


                  <td>{{row2.GroupMark}}</td>
                  <td>{{row2.Rev}}</td>
                  <!-- <td>{{row2.Qty}}</td> -->
                  <td>
                    <input type="number" class="form-control" formControlName="qty"
                      (keydown.enter)="Update(row2, isgroupmark)" style=" height: auto; width: 80px;" />
                    <div class="text-danger edit-label" style="width: 100px;" *ngIf=" row2.Qty == undefined">*Qty
                      Required. </div>
                  </td>
                  <!-- <td>{{row2.Remark}}</td> -->
                  <td>
                    <input type="text" class="form-control" formControlName="remarks"
                      (keydown.enter)="Update(row2, isgroupmark)" style=" height: auto; width:65px;" />
                  </td>
                  <td>
                    <i class="material-icons" (click)="Update(row2, isgroupmark)" ngbTooltip="Update">save</i>
                    &nbsp;
                    <i class="bi bi-trash" (click)="deletegroupmark(Groupmarkinglist,isgroupmark)" ngbTooltip="Deletes"
                      style="color:red; font-size:15px"></i>
                  </td>


                </ng-container>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


    </form>
  </div>
</div>
<div class="modal-footer">
  <!-- <button class="btn btn-primary  mb-2" type="button"(click)="dismissModal()"> Close </button>  -->
    <button type="button" (click)="cancel()" class="btn btn-transparent"> Cancel</button>
  <button class="btn btn-primary  mb-2" type="button" (click)="submitReview(true)"  [disabled]="isDisablePost"> Post</button>
  <button class="btn btn-primary  mb-2" type="button" (click)="submitReview(false)" [disabled]="disableSubmit">Submit</button>
   
</div>
</div>