<!-- <div class="Row" style="margin-left: 20px; margin-top: 10px; font-size: medium;">
   <h4>Beam Stirrup Link Mesh (梁箍铁网)</h4>
</div> -->
<div class="container-fluid" style="min-height: 445px!important">
  <div class="card m-1">
      <div class="d-flex">
          <div class=" table-responsive table-wrapper-scroll-y my-custom-scrollbar" style="border: 4px solid #e9ecef;border-style: inset;">

              <!-- <span><i class="bi bi-plus-circle" ngbTooltip="Add Row"></i></span> -->
          </div>
          <button id="slideshowButton" (click)="showSideTable = !showSideTable">
              <span *ngIf="showSideTable"><i class="bi bi-caret-right-fill"></i></span>
              <span *ngIf="!showSideTable"><i class="bi bi-caret-left-fill"></i></span>

          </button>

          <div *ngIf="showSideTable" style="background-color: #e9ecef;font-size: smaller;min-width: 275px;">
              <!-- <fieldset #firstBox>
                  <div class="container2" [hidden]="showshapecode">
                      <img class="img-responsive" [src]="'../../../assets/images/Shapes/'+ Imagename +''" alt="image"  style="position: relative ; left: 0px;">
                   </div>
                   <div class="container2">
                      <img class="img-responsive" [src]="'../../../assets/images/'+ StaticImagename +''" alt="image" style="position: relative ; left: 0px;">
                   </div>
              </fieldset> -->
              <fieldset #firstBox>
                  <div>
                      <div class="d-flex"
                          style="align-items: center;max-height: 25px;padding: 5px;justify-content: space-between;">
                          <label class="form-label">Drawing No:</label>&nbsp;
                          <!-- <label class="form-label">{{Diameter}}</label> -->
                      </div>
                      <div class="d-flex"
                          style="align-items: center;max-height: 25px;padding: 5px;justify-content: space-between;">
                          <label class="form-label">Revision:</label>&nbsp;
                          <!-- <label class="form-label">{{Spacing}}</label> -->
                      </div>
                      <div class="d-flex"
                          style="align-items: center;max-height: 25px;padding: 5px;justify-content: space-between;">
                          <label class="form-label">Remarks:</label>&nbsp;
                          <!-- <label class="form-label">{{CarrierWireDia}}</label> -->
                      </div>
                      <div class="d-flex"
                          style="align-items: center;max-height: 25px;padding: 5px;justify-content: space-between;">
                          <label class="form-label">Updated By:</label>&nbsp;
                          <!-- <label class="form-label">{{Mass}}</label> -->
                      </div>
                    
                      
                      <!-- <div class="d-flex"
                          style="align-items: center;max-height: 25px;padding: 5px;justify-content: space-between;">
                          <label class="form-label">Total Bar Qty:</label>&nbsp;
                          <label class="form-label">0</label>
                      </div> -->
                  </div>
              </fieldset>
              <fieldset id="secondBox">
                <div style="margin-top: 5px;"> 
                    <div class="d-flex" style="align-items: center;padding: 2px; justify-content: center;">
                        <button class="btn btn-primary btn-sm" type="button">Add New Drawing</button>
                    </div>
                    <div class="d-flex" style="align-items: center;padding: 2px;justify-content: center;">
                        <button class="btn btn-primary btn-sm" type="button">Edit Drawing</button>
                    </div>
                    <div class="d-flex" style="align-items: center;padding: 2px;justify-content: center;">
                        <button class="btn btn-primary btn-sm" type="button">Delete Drawing</button>
                    </div>
                    <div class="d-flex" style="align-items: center;padding: 2px;justify-content: center;">
                        <button class="btn btn-primary btn-sm" type="button">View Revision</button>
                    </div>
                    <!-- <div class="d-flex" style="align-items: center;padding: 2px; justify-content: center;">
                        <button class="btn btn-primary btn-sm rounded-circle" type="button" style="background-color: #003366;">&lt;</button>
                        <span style="margin: 0 10px;">No drawing uploaded</span>
                        <button class="btn btn-primary btn-sm rounded-circle" type="button" style="background-color: #003366;">&gt;</button>
                    </div> -->
                </div>
            </fieldset>
            <fieldset id="thirdBox">
            <div class="d-flex" style="align-items: center;padding: 2px; justify-content: center;">
              <button class="btn btn-primary btn-sm rounded-circle" type="button" style="background-color: #007bff;;">&lt;</button>
              <span style="margin: 0 10px;">No drawing uploaded</span>
              <button class="btn btn-primary btn-sm rounded-circle" type="button" style="background-color: #007bff;;">&gt;</button>
          </div>
        </fieldset>
          </div>
      </div>
  </div>
</div>
<!-- <div>
  Notes: All dimensions and length are in "mm" unless otherwise. Maximum number of various bar items is 26.
</div> -->
<!-- app.component.html -->
<!-- <div class="image-row">
  <ng-container *ngFor="let image of images">
    <img [src]="'../../../assets/images/Shapes/' + image + '.png'" alt="Image">
  </ng-container>
</div> -->
<!-- <div class="container">
  <div class="row">
    <ng-container *ngFor="let image of images; let i = index">
      <div class="col-2">
        <img [src]="'../../../assets/images/Shapes/' + image + '.png'" alt="Image" class="image-with-border">
      </div>
      Start a new row after every 5 images
      <div class="w-100 d-none d-md-block" *ngIf="(i + 1) % 5 === 0"></div>
    </ng-container>
  </div>
</div>
 -->

<!-- your-component.component.html -->
<!-- <div *ngFor="let row of imageRows" class="row">
  <div *ngFor="let imageUrl of row" class="col">
    <div class="image-box" style="border: 2px solid #000;">
      <img [src]="'../../../assets/images/Shapes/' + imageUrl + '.png'" alt="Image">
    </div>
  </div>
</div> -->
<!-- <table>
  <tr *ngFor="let rowIndex of [0, 1, 2, 3, 4]; let i = index" class="image-row">
    <td *ngFor="let cellIndex of [0, 1, 2, 3, 4]; let j = index" class="image-cell">
      <ng-container *ngIf="imageRows[i * 5 + cellIndex]">
        <img [src]="'../../../assets/images/' + imageRows[i * 5 + cellIndex] + '.png'" alt="Image">
      </ng-container>
    </td>
  </tr>
</table> -->

<!-- <div class="image-gallery">
  <div class="image-row">
    <div class="image-box" *ngFor="let image of images">
      <img [src]="'../../../assets/images/Shapes/' + image + '.png'" alt="Image">
    </div>
  </div>
</div> -->



