<div class="modal-header">
    <span class="modal-title">BBS Data Entry (加工铁数据输入)</span>
    <i class="fa-solid fa-xmark"></i>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>

<div class="modal-body">
    <div>
        <span>
            {{ResponseMessage}}
            <!-- Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur facilis odio necessitatibus
            voluptatum aperiam labore libero veritatis. Laboriosam quisquam assumenda minima in et repellat dolorum
            consectetur vitae sequi est! Iste.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor nemo ab rerum fugit! Totam assumenda quisquam
            consequuntur iure voluptate eveniet. Esse veniam recusandae vitae aliquam error, quibusdam dicta officia
            sint!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum eaque facere eveniet, excepturi non iste
            neque nisi dolores quaerat expedita tempore quasi fugit, et impedit aut magni animi ea voluptatem! -->
        </span>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary me-2" (click)="Cancel()">Close (关闭)</button>
</div>