<div class="modal-header">
  <h3 class="modal-title">Cage Notes</h3>
  <button type="button" class="close" (click)="dismissModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="col-md-12">
    <div class="form-group">
      <!-- <pre>{{ cageNote }}</pre> -->
      <textarea name="cageNote" id=""   class="form-control" rows="10" [(ngModel)]="cageNote"></textarea>
    </div>
  </div>
</div>
<div class="modal-footer d-flex justify-content-center">
  <button class="btn btn-primary" (click)="applyData()">Save</button>
  <button type="button" class="btn btn-secondary" (click)="dismissModal()">Cancel</button>
</div>
