<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container-fluid">
  <div class="logo4">
    <div class="card m-1">
      <h3 class="card-header d-flex flex-column justify-content-center">
        <span> <img src="../../../assets/imagesuiux/review.png" style="width: 40px;height: 40px;">
        <b> Active Orders (现行订单)</b>
        </span>
      </h3>
      <div class="card-body main-page">
        <div class="filter">
          <form [formGroup]="activeorderForm" (ngSubmit)="onSubmit()">
            <div class="row mobile-customer-project">
              <ngb-accordion #acc="ngbAccordion" [activeIds]="['panel1']" class="mobile4" style="padding-top: 14px">
                <ngb-panel id="panel1">
                  <ng-template ngbPanelContent>
                    <div class="card-body" style="padding: 0.5%">
                      <div class="row">
                        <div class="col-md-3">
                          <label class="form-label">Customer</label> <br />
                          <ng-select formControlName="customer" class="w-auto" (change)="changecustomer($event)">
                            <ng-option *ngFor="let sList of CustomerList" [value]="sList.CustomerCode">
                              {{ sList.CustomerName }} ({{
                              sList.CustomerCode
                              }})
                            </ng-option>
                          </ng-select>
                        </div>

                        <div class="col-md-3">
                          <label class="form-label">Project</label> <br />
                          <ng-select formControlName="project" [(ngModel)]="SelectedProjectCodes" [closeOnSelect]="false"
                            class="w-auto" [multiple]="true" (change)="changeproject($event)"
                            style="max-height: 65px; z-index: 5">
                            <ng-template ng-header-tmp *ngIf="ProjectList.length != 0">
                              <div style="
                                  justify-content: space-between;
                                  display: flex;
                                ">
                                <button class="btn btn-link" style="padding: 4px; border: 0px; margin: 0px"
                                  (click)="selectAll()">
                                  Select All
                                </button>
                                <button class="btn btn-link" style="padding: 4px; border: 0px; margin: 0px"
                                  (click)="clearAll()">
                                  Clear All
                                </button>
                              </div>
                            </ng-template>
                            <ng-option *ngFor="let sList of ProjectList" [value]="sList.ProjectCode">
                              {{ sList.ProjectTitle }} ({{ sList.ProjectCode }})
                            </ng-option>
                          </ng-select>
                        </div>

                        <div class="col-md-3">
                          <label class="form-label"><b>Address</b></label> <br />
                          <ng-select formControlName="address" [(ngModel)]="SelectedAddressCode" [closeOnSelect]="false"
                            class="w-auto" [multiple]="true" (change)="changeAddress($event)" appendTo="body"
                            style="max-height: 65px; z-index: 5">
                            <ng-template ng-header-tmp *ngIf="AddressList.length != 0">
                              <div style="
                                  justify-content: space-between;
                                  display: flex;
                                ">
                                <button class="btn btn-link" style="padding: 4px; border: 0px; margin: 0px"
                                  (click)="selectAll_Address()">
                                  Select All
                                </button>
                                <button class="btn btn-link" style="padding: 4px; border: 0px; margin: 0px"
                                  (click)="ClearAll_Address()">
                                  Clear All
                                </button>
                              </div>
                            </ng-template>
                            <ng-option *ngFor="let sList of AddressList" [value]="sList.id">
                              {{ sList.projectAddress }} ({{ sList.id }})
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngb-panel>
              </ngb-accordion>
            </div>
          </form>
          <div class="row logo4 customerandprojecthideonweb">
            <div _ngcontent-auh-c182="" class="col-md-7"><label _ngcontent-auh-c182="" class="form-label"></label><br _ngcontent-auh-c182=""><br><b _ngcontent-auh-c182="">Select All Project button to Include All Optional Projects (选择全部项目按钮至包括全部可选工程项目)</b>
            </div>
            <div class="col-md-4 float-right">
              <label class="form-label"></label> <br />
              <div class="input-group flex-nowrap" *ngIf="searchResult" style="padding-right: 30px">
                <input class="form-control" type="search" placeholder="Search " value="search" id="example-search-input"
                  name="search" [(ngModel)]="searchText" 
                  [ngModelOptions]="{ standalone: true }" />
                <span class="input-group-append ms-n5">
                  <span class="input-group-text">
                    <i class="bi bi-search"></i>
                  </span>
                </span>
              </div>
            </div>
            <div class="col-md-1">
              <label class="form-label"></label> <br />
              <div class="input-group flex-nowrap">
                <div class="mr-0" style="margin-top: -6px">
                  <span class="btn input-group-text">
                    <i class="material-icons" style="font-size: 20px" ngbTooltip="Download Excel"
                      (click)="downloadExcel()">download</i>
                  </span>
                </div>
                <div class="mr-0" style="margin-top: -6px">
                  <span class="btn input-group-text" (click)="editColumn = !editColumn" (mouseenter)="HoverSetting=true"
                    (mouseleave)="HoverSetting=false">
                    <i class="material-icons" style="font-size: 20px" ngbTooltip="Download Excel">settings</i>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="setting-menu float-right logo2"
            [class.mat-elevation-z8]="true" *ngIf="editColumn"  (mouseenter)="HoverSetting=true" (mouseleave)="HoverSetting=false">
            <div class="d-flex heading">
              <div class="d-flex" style="width: 50%; justify-content: space-between">
                <label class="fixed-xolumn-head">Fixed Columns: </label>
                <input class="form-control" type="number" max="7" min="0" [(ngModel)]="fixedColumn"
                  (change)="UpdateFixedColumns1(fixedColumn)" />
              </div>
              <button type="button" class="btn-close" aria-label="Close" (click)="editColumn = false"></button>
            </div>
            <hr style="margin: 10px" />
            <div class="d-flex" style="
                          justify-content: space-between;
                          align-items: flex-end;
                          padding-left: 5px;
                        ">
              <span>Visible Columns</span>
            </div>
            <!-- <button class="btn btn-primary btn-sm" type="button" (click)="editColumn=!editColumn" style="height: 28px !important;
                              width: 28px;
                              display: flex;
                              justify-content: space-evenly;">
                                  <i class="material-icons" style="font-size: small;z-index: 1;"
                                      ngbTooltip="Edit Column">mode_edit</i>&nbsp;</button> -->
            <div class="d-flex">
              <table class="table table-bordered mobile2" style="height: fit-content" style="min-width: 0">
                <tbody>
                  <tr *ngFor="let headerColumn of splitArray(1,activeColumns);">
                    <td>{{headerColumn.displayName}}</td>
                    <td><input type="checkbox" [(ngModel)]="headerColumn.isVisible" [checked]="headerColumn.isVisible"
                        (ngModelChange)="SaveColumnsSetting()"></td>
                  </tr>
                </tbody>
              </table>
              <table class="table table-bordered mobile2" style="height: fit-content" style="min-width: 0">
                <tbody>
                  <tr *ngFor="let headerColumn of splitArray(0,activeColumns);">
                    <td>{{headerColumn.displayName}}</td>
                    <td><input type="checkbox" [(ngModel)]="headerColumn.isVisible" [checked]="headerColumn.isVisible"
                        (ngModelChange)="SaveColumnsSetting()"></td>
                  </tr>
                </tbody>
              </table>
             
            </div>
          </div>
          <div *ngIf="ActiveOrderLoading" style="z-index: 500">
            <div id="pause" class="d-flex align-items-center justify-content-center">
              <div id="spinner" class="loader"></div>
            </div>
          </div>
          <div>
            <div #tableContainer class="table-responsive table-wrapper-scroll-y my-custom-scrollbar logo3 order-table"
              style="max-height: 409px; height: 400px;">
              <cdk-virtual-scroll-viewport itemSize="50" #scrollViewport  style="height: 53vh;">
              <form [formGroup]="searchForm">
              <table class="table desktop3 new-table">
                <thead [style.top]="'0px'" id="ActiveOrderHeading">
                  <tr cdkDropList cdkDropListOrientation="horizontal" [cdkDropListData]="activeColumns"
                      (cdkDropListDropped)="dropCol($event)"
                  >
                    <ng-container *ngFor="let headerColumn of activeColumns; index as headIndex;">
                      <th #thNomVar (click)="toggleNewSortingOrder(headerColumn.field,headerColumn.colName)" *ngIf="headerColumn.isVisible"
                      [style.cursor]="'pointer'"
                      [style.left]="(headIndex+1) <= fixedColumn ? getRightWidthTest(thNomVar,headIndex) : 'inherit'"
                      [style.display]="'table-cell'"
                      [class.FixedColumn]="(headIndex+1) <= fixedColumn"
                      cdkDrag
                      style="background-color: #003ec4b3; border-radius: 0px;">
                        <div class="d-flex" [style.max-width.px]="headerColumn.resizeWidth"  style="
                            align-items: center;
                            justify-content: space-between;
                          ">
                          <span style="color: white; font-size: medium;" [style.max-width.px]="headerColumn.resizeWidth"> {{headerColumn.displayName}}<br />{{headerColumn.chineseDisplayName}}</span><i class="bi bi-arrow-up" *ngIf="
                              !isAscending && currentSortingColumn == headerColumn.field"></i><i class="bi bi-arrow-down" *ngIf="
                              isAscending && currentSortingColumn == headerColumn.field"></i>
                        </div>
                        <div [style.width.px]="headerColumn.resizeWidth"></div>
                      </th>
                    </ng-container>
                    <th style="color: white; font-size: medium;border-radius: 0px;">Select<br />选择</th>
                    <th style="color: white; font-size: medium;border-radius: 0px;">Details<br />细节</th>
                  </tr>
                </thead>
                <thead [style.top]="getMinHeight('ActiveOrderHeading')">
                  <tr >
                    <ng-container *ngFor="let searchColumn of activeColumns; index as searchIndexD;">

                      <th *ngIf="searchColumn.isVisible"
                        [style.left]="(searchIndexD+1) <= fixedColumn ? searchColumn.left+'px !important' : 'inherit'"
                        [style.display]="'table-cell'"
                        [style.width]="searchColumn.width+ 'px'"
                        [class.FixedColumn]="(searchIndexD+1) <= fixedColumn"
                       style="background-color: white !important;">
                        <div
                        *ngIf="
                              searchColumn.controlName == 'dateRangeRequired' ||
                              searchColumn.controlName == 'dateRangeDelivery' ||
                              searchColumn.controlName == 'poDateRange'
                              else dateRangeCreatedTemplate"
                        >


                      <app-bootsrtap-date-range-picker-for-search [clearInput]="clearInput" [controlName]="searchColumn.controlName" (dateRangeSelection)="onGetDateSelected($event)"></app-bootsrtap-date-range-picker-for-search>

                    </div>
                    <ng-template #dateRangeCreatedTemplate>
                        <input class="form-control" formControlName="{{searchColumn.controlName}}" [placeholder]="searchColumn.placeholder" />
                    </ng-template>
                    <div class="bar" appColumnResize [colName]="searchColumn.controlName" [colIndex]="searchIndexD"
                    (widthChangeEvent)="onWidthChange($event)" cdkDrag></div>

                    </th>
                    </ng-container>

                    <th style="background-color: white !important;"></th>
                    <th style="background-color: white !important;"> <span style="margin: auto; padding: 2px">
                      <i class="fa fa-refresh" ngbTooltip="Reset" style="color: red; font-size: 20px"
                        (click)="Reset_Filter()"></i>&nbsp;
                        <label (click)="Reset_Filter()">Clear</label>
                    </span></th>
                  </tr>
                </thead>
                <tbody>
                  <tr  *ngFor="
                      let item of activeorderarray | filter : searchText;
                      index as i
                    "
                    [ngClass]="{'highlight': selectedRowIndex === i}"
                    [style.background-color]="giveRowcolor(item)"
                    (click)="selectRow(item,activeorderarray,$event)" [class.selected-draft-table]="item.rowSelected" (click)="changeColor(i)"
                  >
                    <ng-container *ngFor="let showDataColumn of activeColumns; index as searchIndex;">
                      <!-- Td commented by vidhya -->
                          <!-- <td *ngIf="showDataColumn.isVisible" [style.width]="showDataColumn.width+ 'px !important'"
                            [style.left]="(searchIndex+1) <= fixedColumn ? showDataColumn.left+'px !important' : 'inherit'"
                            [style.display]="'table-cell'"
                            [style.background-color]="(searchIndex+1) <= fixedColumn ? giveRowcolor(item): ''"
                            [class.FixedColumn]="(searchIndex+1) <= fixedColumn"
                            (click)="SelectColumn(showDataColumn.colName,item)">
                            {{ item[showDataColumn.colName] }}
                          </td> -->

                          <!-- Td added by vidhya -->
                          <td *ngIf="showDataColumn.isVisible" [style.width]="showDataColumn.width+ 'px !important'"
                            [style.left]="(searchIndex+1) <= fixedColumn ? showDataColumn.left+'px !important' : 'inherit'"
                            [style.display]="'table-cell'"
                            [style.background-color]="(searchIndex+1) <= fixedColumn ? giveRowcolor(item): ''"
                            [class.FixedColumn]="(searchIndex+1) <= fixedColumn">

                            <span *ngIf="showDataColumn.colName === 'PlanDeliveryDate'" class="hyperlink"
                              (click)="SelectColumn(showDataColumn.colName, item)">
                              {{ item[showDataColumn.colName] }}
                            </span>

                            <span *ngIf="showDataColumn.colName !== 'PlanDeliveryDate'"
                              (click)="SelectColumn(showDataColumn.colName, item)">
                              {{ item[showDataColumn.colName] }}
                            </span>
                          </td>
                    </ng-container>
                    <td>
                      <input type="checkbox" *ngIf="OESCheckmarkFormatter(item)"
                        [checked]="item.isSelected" (change)="recordSelected(item,i)" />
                    </td>
                    <td>
                      <i class="bi bi-eye" ngbTooltip="View" *ngIf="item.OrderSource == 'DIGIOS'" (click)="ViewOrderDetails(item)"
                        style="font-size: small"></i>
                      <!-- <i class="material-icons" (click)="Copy(item)" style="font-size: small"
                        ngbTooltip="Copy">content_copy</i> -->

                    </td>
                  </tr>
                </tbody>
              </table>
            </form>
            </cdk-virtual-scroll-viewport>  
          </div>
            <div class="row">
              <div class="row ButtonsDis">
                <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-2" *ngIf="showApproveButton">
                  <button class="btn btn-primary btn-sm w-100" (click)="Update('Submitted')">
                    Approve (批准提交)
                  </button>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-2" *ngIf="showSubmitButton">
                  <button class="btn btn-primary btn-sm w-100" (click)="Update('Submitted')">
                    Submit (提交)
                  </button>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-2" *ngIf="showRejectButton">
                  <button class="btn btn-primary btn-sm w-100" (click)="Update('Reject')">
                    Reject (拒绝)
                  </button>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-2" *ngIf="showWithdrawButton">
                  <button class="btn btn-primary btn-sm w-100" (click)="Update('Withdraw')">
                    Withdraw (修改申请)
                  </button>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-2" *ngIf="showSendButton">
                  <button class="btn btn-primary btn-sm w-100" (click)="requestToOrder('Send')">
                    Send for Approval (请批)
                  </button>
                </div>
              </div>
              
              <h4 style="text-align: right;font-weight: bold;">
                Note: All the mesh items in this order will be bent using a common size former.
              </h4>
              <!-- *ngIf="showNote" -->
            </div>

            <div class="row d-flex">
              <div class="col md-6">
                <span *ngIf="activeorderarray.length==0" style="font-weight: bold">
                  Total Active Orders : 0
                </span>
                <span *ngIf="activeorderarray.length!=0" style=" font-weight: bold;"> Total Orders : </span>
                <!-- <span *ngIf="activeorderarray.length!=0" style="color: #0880ae; font-weight: bold;"> Total Orders : </span> -->
                <span *ngIf="activeorderarray.length!=0" style=" font-weight: bold;"> {{ Note }}</span><br>
                <span _ngcontent-nlc-c225="" style="font-weight: bold;" class="ng-tns-c225-25"> Color Legend: </span><br>
                <div class="justify-content-start d-flex">
                  <label class="box gray font-weight-bold" style="background-color: #fbccfc"> Pending Approval</label>&nbsp;
                  <label class="box color font-weight-bold" style="background-color: #00b050">Confirmed to Deliver Today</label>&nbsp;
                  <label class="box blue font-weight-bold" style="background-color: #c7e1ef">To Deliver on the Next Day</label>&nbsp;
                </div>

              </div>
              <!-- <br><br> -->
              <div class="col row logo">
                <div class="col d-flex desktop">
                  <!-- <span style="color: #0880ae; font-weight: bold;">Color Legend : </span>-->
                  <!-- &nbsp;
                  <div class="box gray" style="background-color: #fbccfc"></div>
                  &nbsp; Pending Approval &nbsp;
                  <div class="box color" style="background-color: #00b050"></div>
                  &nbsp; Confirmed to Deliver Today &nbsp;
                  <div class="box blue" style="background-color: #c7e1ef"></div>
                  &nbsp; To Deliver on the Next Day -->
                </div>
                <div class="col d-flex mobile">
                  <!-- <span style="color: #0880ae; font-weight: bold;">Color Legend : </span>-->
                  &nbsp;
                  <div class="box gray" style="background-color: #fbccfc" ngbTooltip="Pending Approval"></div>
                  &nbsp; &nbsp;
                  <div class="box color" style="background-color: #00b050" ngbTooltip="Confirmed to Deliver Today">
                  </div>
                  &nbsp; &nbsp;
                  <div class="box blue" style="background-color: #c7e1ef" ngbTooltip="To Deliver on the Next Day"></div>
                  &nbsp;
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
