#container {
  position: relative;
  /* width: 100%;
  height: 100% */
}

#imageView {
  border: 1px solid #000;
  /* width: 100% !important;
  height:100% !important; */
}

#imageTemp {
  position: absolute;
  top: 1px;
  left: 1px;
}

.required-label {
  color: red;
}

.table-responsive thead th {
  position: sticky;
  top: 0;
}