.d-flex {
  justify-content: space-around;
}

.nav-tabs .nav-link {
  width: auto !important;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  width: auto !important;
}

/* Zebra striping
tr:nth-of-type(even) {
  background: #eee !important;
}*/
/* Zebra striping */
/*tr:nth-of-type(odd) {
  background: white !important;
} */

.tabData {
  display: block !important;
}

.side-menu {
  display: flex;
  background-color: #e9ecef;
  font-size: smaller;
  min-width: 275px;
}

.gridPane {
  width: auto !important;
}

.slickgrid-container {
  width: auto !important;
}

.side-menu {
  /* position: absolute;
  z-index: 10; */
  display: flex;
  justify-content: space-between;
}

.side-menu .btn {
  cursor: pointer;
  height: 20px;
  width: 153px;
  padding: 1px 20px;
}

/* .slickgrid-table {
  max-height: 280px;
  top: 260px;
  left: -26px;
  position: absolute;
  overflow: auto;
} */
.btn {
  margin: 0;
}

.side-menu #firstBox {
  width: -webkit-fill-available;
  border: 1px solid #c1c1c1;
}

.side-menu #imageBox {
  border: 1px solid #c1c1c1;
  text-align: center;
}

.side-menu #secondBox {
  width: -webkit-fill-available;
  border: 1px solid #c1c1c1;
}

.side-menu .form-label {
  margin: 0px;
}

.ms-drop {
  background: #e9ecef;
  min-width: 99px;
}

#contextMenuCAB {
  position: absolute;
  background: #e1efc7;
  border: 1px solid gray;
  padding: 2px;
  display: inline-block;  
  min-width: 100px;
  -moz-box-shadow: 2px 2px 2px silver;
  -webkit-box-shadow: 2px 2px 2px silver;
  z-index: 99999;
  font-weight: 500;
}

#contextMenuCAB li {
  padding: 4px 4px 4px 14px;
  list-style: none;
  cursor: pointer;
  background: url('../../../../assets/images/arrow_right_peppermint.png') no-repeat center left;
}

#contextMenuCAB li:hover {
  background-color: white;
}

.error_highlight {
  background-color: red !important;
}

/* added by ajit */
div#corner-triangle {
  display: normal;
  width: 25px;
  height: 25px;
  border-style: solid;
  border-width: 0 50px 50px 0;
  border-color: transparent #da0039 transparent transparent;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 99999;
  color: white;
  text-shadow: 0 0 25px 9px #fff;
  -webkit-filter: drop-shadow(0 1px 9px #000000);
  filter: drop-shadow(0 1px 9px #000000);
}

div#corner-triangle .corner-triangle-text {
  position: relative;
  font-size: 10px;
  top: 0;
  right: -12px;
  font-family: sans-serif, "Helvetica Neue", Helvetica, Arial;
  font-weight: 200;
  line-height: 1.1;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

div#corner-triangle .corner-triangle-text span.corner-triangle-firstline {
  margin-left: 1px;
  position: absolute;
}

div#corner-triangle .corner-triangle-text a {
  color: aqua;
}

div#corner-triangle .corner-triangle-text a:hover,
div#corner-triangle .corner-triangle-text a:link,
div#corner-triangle .corner-triangle-text a:visited,
div#corner-triangle .corner-triangle-text a:active,
div#corner-triangle .corner-triangle-text a:focus {
  text-decoration: none;
}

.search {
  width: 100%;
  position: relative;
}

.searchTerm {
  float: left;
  width: 100%;
  border: 1px solid #00b4cc;
  padding: 1px;
  height: 20px;
  border-radius: 2px;
  outline: none;
  color: #9dbfaf;
  font-size: 12px;
}

.searchTerm:focus {
  color: #00b4cc;
}

.searchButton {
  position: absolute;
  right: 0px;
  width: 20px;
  height: 20px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
  font-size: 12px;
}

.picbutton {
  padding: 10px 10px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.picButtonHover:hover {
  background-color: #3e8e41;
}

.picButtonActive {
  background-color: #f8cd74;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.orderButton {
  margin: 0;
  padding: 0px 0px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 2px;
  box-shadow: 0 3px #999;
  height: 18px;
  width: 100%;
}

.orderButton:hover {
  background-color: #3e8e41;
}

.orderButton:active {
  background-color: #f8cd74;
  box-shadow: 0 0px #666;
  transform: translateY(3px);
}

ul.CategoryImages {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow-x: auto;
  background-color: #ddd;
}

ul.CategoryImages li {
  display: inline;
  width: 300px;
  height: 150px;
}

.highlighted {
  background-color: #ff0000 !important;
}

.right-align {
  text-align: right;
}

.center-align {
  text-align: center;
}

.center-align-bold {
  text-align: center;
  font-weight: bold;
}

.item-copied {
  background-color: #c8ffc8 !important;
}

.item-cancelled {
  background-color: #ffc8c8 !important;
}

.item-barstd {
  background-color: #e1efc7 !important;
}

.transport-lowbed {
  background-color: #c8c8ff !important;
}

.transport-escort {
  background-color: #e8ccfc !important;
}

.transport-normal {
  background-color: white !important;
}

.box-inner {
  padding: 2px;
}

.img {
  display: inline-block;
  margin: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

/*    .slick-pane-top {
  top: 0 !important;
}
*/
#BBSNoListCont,
#PONoListCont {
  margin: 0px;
  border: solid 1px gray;
  width: 100%;
  background: white;
  font: 12px Helvetica, Arial, sans-serif;
  margin-right: 0px;
  margin-left: 0px;
}

#container_bpc,
#nsh_lib,
#project_template,
#bpc_bom,
#copyLibrary,
#container_bpc1 #load_details {
  margin: 0px;
  border: solid 1px gray;
  width: 100%;
  background: white;
  font: 12px Helvetica, Arial, sans-serif;
  margin-right: 0px;
  margin-left: 0px;
}

.slick-header>.slick-header-columns>.slick-header-column {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

::ng-deep .slickgrid-container {
  height: 83vh !important;
  max-height: 93vh !important;
  width: auto !important;
  min-width: 77vw !important;
  font-weight: 600 !important;
}

::ng-deep .col-10 .slickgrid-container {
  height: 600px !important;
}

/*
      .slick-header > .slick-header-columns > .slick-header-column {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
      }
  */
/* Slick.Editors.Text, Slick.Editors.Date */
input.editor-text {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  background: transparent;
  outline: 0;
  padding: 0;
}

input.editor-select {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  background: transparent;
  outline: 0;
  padding: 0;
}

.slick-header-columns {
  position: relative;
  white-space: pre-wrap !important;
  /*Chnaged from Nowrap*/
  cursor: default;
  overflow: hidden;
  height: 45px !important;
  /*Added by zbc*/
}

.slick-headerrow-columns {
  position: relative;
  white-space: pre-wrap !important;
  /*Chnaged from Nowrap*/
  cursor: default;
  overflow: hidden;
  height: 25px !important;
  /*Added by zbc*/
}

.slick-header-column.ui-state-default {
  height: 100%;
}

.slick-headerrow-column.ui-state-default {
  padding: 0;
}

::ng-deep .slick-viewport {
  overflow-y: scroll;
}

input,
select,
textarea {
  /*    max-width: 280px;*/
  max-width: 100%;
}

.ui-tabs .ui-tabs-panel {
  padding: 0.2em 0.1em;
}

/* Base for label styling */

/* hover style just for information */
label:hover:before {
  border: 2px solid #4778d9 !important;
}

::ng-deep .ms-drop {
  z-index: 99999;
  background: azure;
  color: black;
  white-space: nowrap;
}

::ng-deep .ms-drop ul {
  list-style-type: none;
  white-space: nowrap;
  overflow-y: scroll;
  padding: 0px;
}

/* Check box css */
.form-switch label {
  position: absolute !important;
  top: 7px !important;
  color: white !important;
  width: 17em !important;
}

.form-switch .form-check-input {
  height: 2em !important;
  width: 15em !important;
  margin-left: -2.5em !important;
}

.form-check-input {
  background-color: hsl(216, 27%, 78%) !important;
  border-color: white !important;
}

.form-check-input:checked {
  background-color: hsl(159, 82%, 53%) !important;
  border-color: white !important;
}

.header-bpc {
  font-family: Lato, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: rgb(59, 182, 182);
  margin-top: 10px;
}

.form-control:disabled,
.form-control[readonly] {
  background: none;
  border: none;
}

::ng-deep .accordion-header {
  display: none !important;
}

.table-container {
  /* width: 50px; */
  overflow-x: scroll;
  /* Enable vertical scrolling */
}

.table-container table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 1px !important;
}

th {
  background-color: #f2f2f2;
}

/* [5:50 PM] Hattekar, Mayur */
::ng-deep .slick-cell {
  border: 1px solid #ccc;
  /* Customize the border style as needed */
}

/* Optional: Add styles for header cells */
::ng-deep .slick-header-column {
  border: 1px solid #ccc;
  /* Customize the border style as needed */
}

/* Optional: Add styles for selected cells */
::ng-deep .slick-cell.selected {
  border: 2px solid #007bff;
  /* Customize the border style for selected cells */
}

.slick-cell {
  border: 1px solid #e9ecef !important;
  font-weight: 600;
}

.subHeading_CAB {
  font-weight: 700;
}

.Duplicate-BBS {
  background-color: rgb(247, 62, 62);
}

.Empty-BBS {
  background-color: rgb(247, 62, 62);
}

.inputTabs {
  border: 1px solid #cccccc !important;
  background: #e9ecef !important;
}

::ng-deep .slickgrid-container .grid-canvas .slick-cell {
  padding: 0;
}

.details-row-highlight {
  background-color: rgba(116, 171, 243, 0.61);
}



.order-details-footer {
  padding: 10px;
  margin-left: 10px;
  font-size: larger;
  font-weight: 600;
}

::ng-deep .icon-clear {
  display: none !important;
}

.borderless-table {
  border-collapse: collapse;
  width: 100%;
}

.borderless-table th,
.borderless-table td {
  border: none;
  padding: 8px;
  text-align: left;
}

.borderless-table th {
  background-color: #f2f2f2;
}

.vertical-side-menu tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit;
  border-style: solid;
  border-width: 1px;
  font-size: 14px !important;
  font-weight: 500;
}

.vertical-side-menu {
  background: #e9ecef;
}

.vertical-side-menu .btn {
  width: 100%;
}

.vertical-side-menu #myCanvas1 {
  width: 14vw;
  height: 25vh;
  border: 1px solid;
  padding: 5px;
}

#firstBox table {
  min-height: 31vh;
}

#firstBox table td {
  border: 1px solid #c1c1c1 !important;
}

#secondBox table {
  min-height: 31vh;
}

#secondBox table td {
  border: 1px solid #c1c1c1 !important;
}

#imageBox canvas {
  margin: auto;
}

:host ::ng-deep .slickgrid-container .slick-headerrow {
  display: none !important;
}

:host ::ng-deep .editor-text {
  font-size: larger;
  font-weight: 600;
  border-radius: 0 !important;
}

::ng-deep .slickgrid-container .slick-row .slick-cell.active {
  padding: 0 !important;
}

::ng-deep .slickgrid-container .input-group {
  display: flex;
  padding: 0;
  height: 33px !important;
}

.firstBox {
  width: -webkit-fill-available;
}
.secondBox{
  width: 256px;
}


#firstBox table {
  max-height: 260px;
}
 
#firstBox table td {
  border: 1px solid #c1c1c1 !important;
}
 
#secondBox table {
  max-height: 260px;
}

.order-details-button button {
  margin: 0;
  width: 170px;
  border-radius: 30px;
  font-size: medium;
}

:host ::ng-deep .slickgrid-container .grid-canvas .slick-cell.yellow-background {
 /* color: rgb(109, 109, 67) !important; */
 background-color: #F5F5DC !important;
 /* font-size: 14px !important;
 font-weight: 900 !important; */
}
:host ::ng-deep .slickgrid-container .grid-canvas .slick-cell.yellow-background.highlighted {
  background-color: #ff0000 !important;
  /* color: #000000; */
}

.side-menu-btn{
  z-index: 1000;
}
