.load-header {
    padding: 15px;
    font-size: x-large;
    font-weight: 500;
    background: #cbd3e1;
    cursor: grab;
}

.load-body {
    padding: 20px;
}
.table {
    margin-bottom: 0;
}
.table-responsive {
    border: 1px solid #c1c1c1;
    border-radius: 8px;
}

.load-footer {
    text-align: end;
    padding: 7px;
}

.output-body {
    border: 1px solid;
    max-height: 50vh;
    overflow: auto;
}

@media (min-width: 576px) {
    ::ng-deep .modal-dialog {
        max-width: 70vw !important;
        margin: auto;
    }
}

#mydiv {
    position: absolute;
  
    cursor: move;
    border: 1px solid #000;
    background-color: white;
    z-index: 100;
    min-width: 1200px;
    max-width: 750px;
   
    transition: right 0.1s, top 0.1s;
  }