/* @import '~slickgrid/lib/slick.grid.css';
@import '~slickgrid/slick.grid.css'; */

fieldset {
    margin: 5px !important;
    padding: 0;
  }
  
  .my-custom-scrollbar {
    max-height: fit-content;
  }
  
  .form-control {
    width: 160px !important;
  }
  
  #firstBox div div {
    max-height: 25px !important;
  }
  
  #slideshowButton {
    padding: 0 !important;
    border: 1px solid;
  }
  .highlight {
    transition: background-color 0.3s ease;
  }
  
  .table-bordered thead th,
  .table-bordered thead td,
  .table-bordered tbody td {
    text-align: left;
  }
  
  #body input {
    max-width: 40px;
    padding: 0%;
    text-align: center;
  }
  
  #footer {
    position: sticky;
    bottom: 0;
  }
  
  #footer input {
    max-width: 40px;
    padding: 0;
    text-align: center;
  }
  
  #secondBox button {
    min-width: 157px;
    font-size: x-small;
    margin-top: 5px;
    margin: 2px;
    border: 0;
    color: black;
    background-color: #dee2e6de;
    box-shadow: 0px 1px 4px #ffffff, -1px -3px 2px #ffffff, 0px -1px 0px #ffffff,
      3px 3px 9px 0px rgb(0 0 0 / 22%);
    transition: 0.13s ease-in-out;
    transform: translate3d(0px, -2px, 0px);
  }
  
  
  #secondBox button:active {
    box-shadow: none;
    transform: translate3d(0px, 0px, 0px);
    /* transition: .13s ease-in-out; */
  }
  
  /* Zebra striping */
  tr:nth-of-type(even) {
    background: white !important;
  }
  
  /* Zebra striping */
  tr:nth-of-type(odd) {
    background: white !important;
  }


  .container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Set a fixed width and height for the container if needed */
    width: 270px;
    height: 150px;
  }
  
  .container2 img {
    /* Optional: If you want to limit the size of the image */
    max-width: 100%;
    max-height: 100%;
  }
  
/* 
  .image-gallery {
    display:flex;
    flex-wrap: wrap;
    align-content: space-evenly;
  } */
  
  .image-row {
    display: flex;
    justify-content: space-between;
    flex: 1;
    border: 1px solid #ccc; /* Add a border to each row */
    padding: 10px; /* Add padding around each row */
  }
  
  /* .image-box {
    flex: 1;
    padding: 10px; /* Add padding around each image box */
    /* border: 1px solid #ccc; Add a border to each image box */
  /* } */
  
  /* .image-box img {
    max-width: 100%; /* Ensure images don't exceed their container */
  /* } */
   /* */
   .col-2{
    max-width: 13%;
    
   }
   .col {
    text-align: center; /* Center align the content within each column */
    margin: 0;
  }
  
  .image-box {
    margin: 0; /* Remove any margin */
    padding: 0; /* Remove any padding */
    display: inline-block; /* Display image boxes inline to remove line breaks between them */
  }
  
  img {
    margin: 0; /* Remove any margin */
    padding: 0; /* Remove any padding */
    display: block; /* Remove any default spacing above or below the image */
    max-width: 150% !important; /* Ensure images don't exceed their container width */
    height: auto; /* Maintain the aspect ratio of the images */
    border: #000;
  }
  
  .image-with-border {
    border: 2px solid #000; /* You can customize the border style here */
   padding: 0%;

  }
  
  .your-div-class {
    /* margin-right: -38px; */
    width: 200% !important; 
  }

 
::ng-deep .ms-drop {
  z-index: 99999;
  background: azure;
  color: black;
  white-space: nowrap;
}
::ng-deep .ms-drop ul {
  list-style-type: none;
  white-space: nowrap;
  overflow-y: scroll;
  padding: 0px
}
libGrid, templateGrid, copyGrid {
  margin: 0px;
  border: solid 1px gray;
  width: 100%;
  height: 400px;
  background: white;
  font: 12px Helvetica, Arial, sans-serif;
  margin-right: 0px;
  margin-left: 0px;
}
 
rebarGrid {
  margin: 0px;
  border: solid 1px gray;
  width: 100%;
  height: 230px;
  background: white;
  font: 12px Helvetica, Arial, sans-serif;
  margin-right: 0px;
  margin-left: 0px;
}
 
.slick-header > .slick-header-columns > .slick-header-column {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
 
/*
      .slick-header > .slick-header-columns > .slick-header-column {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
      }
  */
/* Slick.Editors.Text, Slick.Editors.Date */
input.editor-text {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  background: transparent;
  outline: 0;
  padding: 0;
}
 
input.editor-select {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  background: transparent;
  outline: 0;
  padding: 0;
}
 
.slick-header-columns {
  position: relative;
  white-space: pre-wrap !important; /*Chnaged from Nowrap*/
  cursor: default;
  overflow: hidden;
  height: 45px !important; /*Added by zbc*/
}
 
.slick-headerrow-columns {
  position: relative;
  white-space: pre-wrap !important; /*Chnaged from Nowrap*/
  cursor: default;
  overflow: hidden;
  height: 25px !important; /*Added by zbc*/
}
 
.slick-header-column.ui-state-default {
  height: 100%;
}
 
.slick-headerrow-column.ui-state-default {
  padding: 0;
}
 
input,
select,
textarea {
  /*    max-width: 280px;*/
  max-width: 100%;
}
 

#contextMenu {
  background: #e1efc7;
  border: 1px solid gray;
  padding: 2px;
  display: inline-block;
  min-width: 100px;
  /* -moz-box-shadow: 2px 2px 2px silver;
  -webkit-box-shadow: 2px 2px 2px silver; */
  z-index: 99999;
}

  #contextMenu li {
      padding: 4px 4px 4px 14px;
      list-style: none;
      cursor: pointer;
      /* background: url('@Url.Content("~/Content/images/arrow_right_peppermint.png")') no-repeat center left; */
  }

      #contextMenu li:hover {
          background-color: white;
      }
