<div id="mydiv">
    <div class="modal-body">
        <div>
            <span>
                The BBS copy function will clear current BBS data and copy from source. Are you sure?
                <br>
                用此功能将清除您所选择的钢筋加工表的原始数据并且复制数据从别的钢筋加工表. 请确认?
            </span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary me-2" (click)="Confirm()">Confirm</button>
        <button type="button" class="btn btn-primary me-2" (click)="Close()">Close</button>
    </div>
</div>