<div cdkDrag cdkDragRootElement=".your-custom-dialog-class">
    <div class="movable-container">
        <div class="container-fluid">
            <div class="card m-1">

                <div class="mainHeading" cdkDragHandle>
                    <span>Documents Attached(文档附件)</span>
                </div>
                <div *ngIf="DocumentLoading" style="z-index: 500">
                    <div id="pause" class="d-flex align-items-center justify-content-center">
                        <div id="spinner" class="loader"></div>
                    </div>
                </div>
                <div class="modal-header">
                    <h4>Existing Documents(已上传的文档)</h4>
                    <i class="fa-solid fa-xmark"></i>
                </div>

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="text-align: left;"> Select<br>(选项) </th>
                                <th style="text-align: left;"> S/No.<br />(序号) </th>
                                <th style="text-align: left;">Remarks<br />(备注)</th>
                                <th style="text-align: left;"> File Name<br />(文件名)</th>
                                <th style="text-align: left;"> Detailer Submmision Count<br />(文件名)</th>
                                <th style="text-align: left;"> Customer Submmision Count<br />(文件名)</th>
                                <th style="text-align: left;"> Uploaded Date<br />(上传日期)</th>
                                <th style="text-align: left;"> Submitted By 已上传<br />(上传者)</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of ListofDocuments; index as i">
                                <td> <input type="checkbox" [(ngModel)]="item.isSelected"
                                        (ngModelChange)="toggle_modify(item)" ></td>
                                        <td>{{i+1}}</td>
                                        <td>{{item.Remarks}}</td>
                                        <td>{{item.FileName}}</td>
                                        <td>{{item.DetailerSubmissionCount}}</td>
                                        <td>{{item.CustomerSubmissionCount}}</td>
                                        <td>{{item.UpdatedDate}}</td>
                                        <td>{{item.UpdatedBy}}</td>

                            </tr>
                        </tbody>
                


                    </table>

                <h4>Upload New or Modified Document (上传新或修改的文档)</h4>
                <i class="fa-solid fa-xmark"></i>

                <div class="row">
                    <div class="col-md-12">
                        <label class="form-label"><strong>Document File (文件) </strong></label> <br>
                        <input type="file" multiple="multiple" name="pdfData" id="pdfData" accept="application/pdf"
                            style="width:100%;max-width:100%" />

                    </div>
                    <br>
                    <!-- <div class="col-md-6">
                        <label class="form-label"><strong>Document No(文档编号)</strong></label> <br>
                        <input type="text" id="Doc" [(ngModel)]="DocumentNo" placeholder="Document No"
                            (click)="DocInput()" class="form-control" />

                    </div> -->
                    <br>
                    <div class="col-md-12">
                        <label class="form-label"><strong>Customer Remarks(备注)</strong></label> <br>
                        <textarea type="text" id="Remark" [(ngModel)]="Remarks" placeholder="Remarks" maxlength="100"
                            (click)="RemarkInput()" class="form-control">
                        </textarea>
                    </div>


                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary me-2" [disabled]=" IsApproved_disabled " style="height: 40px;" (click)="Upload()"
                      
                        >
                        Upload (上传文档)
                    </button>
                    <!-- <button *ngIf="isSubmitted==false" type="button" [disabled]="ListofDocuments.length ==0 || IsApproved_disabled " class="btn btn-primary me-2" style="height: 40px;" (click)="openNotification();Upload_file_new()"
                      
                        >
                        Submit -->
                    <!-- </button> -->
<!-- 
                    <button type="button"*ngIf="isSubmitted==true" [disabled]="ListofDocuments.length ==0 || IsApproved_disabled " class="btn btn-primary me-2" style="height: 40px;" (click)="openNotification()"
                      
                    >
                    Send Mail
                </button> -->
                    <button type="button" class="btn btn-primary me-2" style="height: 40px;" (click)="View()"
                        [disabled]="disableModify">
                        View (浏览文档)
                        <!-- <a style="color: aliceblue;" [href]="getDownloadView()" target="_blank">View (浏览文档)</a> -->
                    </button>
                    <button type="button" class="btn btn-primary me-2" style="height: 40px;"
                        (click)="Download_Selected()" [disabled]="disableModify">
                        Download (下载文档)
                    </button>
                    <button type="button" class="btn btn-primary me-2" style="height: 40px;" [disabled]="disableModify" (click)="Modify_button()"
                        >
                        Modify (修改文档)
                    </button>
                    <button type="button" class="btn btn-primary me-2" style="height: 40px;" (click)="Remove_button()"
                    [disabled]="disableModify">
                        Remove (删除文档)
                    </button>
                    <button type="button" class="btn btn-primary me-2" style="height: 40px;" (click)="Close()">
                        Close (关闭)
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
