.my-component {
  font-family: "MyFont";
}

ion-icon {
  color: blue;
}

.accordion-button.collapsed {
  background: blue;
}

.accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 0.8rem;
  color: var(--bs-accordion-btn-color);
  text-align: left;
  background-color: var(--bs-accordion-btn-bg);
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: var(--bs-accordion-transition);
}

table {
  width: 100%;
}

.mat-mdc-table .mdc-data-table__row:nth-child(odd) {
  background-color: #e6e6e6;
}
/* .mat-mdc-table .mdc-data-table__row :nth-child(even){
  background-color: #ffffff;
}


.mat-mdc-table .mdc-data-table__row :nth-child(odd){
  background-color: #e6e6e6;
} */
.form-control-table {
  display: block;
  width: 40%;
  height: 10%;
}

.ng-selectcustomer {
  width: 230px;
}

.ng-selectwbs {
  width: 100px;
}

.colbutton {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding: 5px;
  padding-left: 10px;
}

.custom-switch {
  padding-left: 4rem;
  padding-top: 0;
}
.custom-control-label {
  position: relative;
  padding-left: 5px;
  margin-bottom: 0;
  vertical-align: top;
}
/* .btn{
  padding: 0px !important;
} */

.btn {
  padding: 0.5rem 0.75rem;
}
.border_design {
  border: 1px solid black;
}
.img_table {
  padding: 0%;
  display: flex;
}
.Table_new {
  position: relative;
  right: 48px;
}
.Table_new td {
  width: 80px;
}
.Table_new input {
  width: 80px;
}
.width_set td {
  width: 70px;
}
.width_set input {
  width: 70px;
}

.item.active {
  background: #fff;
  border-top-width: 1px;
  border-color: #0880ae;
  padding: 0em 0em !important;
  font-weight: 700;
  margin-bottom: -1px;
  border-radius: 0.28571429rem 0.28571429rem 0 0 !important;
}

.tab-content {
  border: 1px solid #0880ae;
}

.tab {
  border: 1px solid #0880ae;
  border-top-width: 1px;
  border-radius: 0 0 0.28571429rem 0.28571429rem;
}

.nav-item {
  border: 1px solid #0880ae;
}

.movable-container {
  display: block;
  position: absolute;
  cursor: grab;
  border: 1px solid #000;
  background-color: white;
  z-index: 100;
  padding: 35px;
  padding-top: 0px;
  border-radius: 13px;
  transition: right 0.1s, top 0.1s;
}

.hide-image {
  display: none !important;
}

.close-button {
  text-align: end;
  font-size: xxx-large;
}

#contextMenuCAB {
  position: absolute;
  background: #e1efc7;
  border: 1px solid gray;
  padding: 2px;
  display: inline-block;
  min-width: 100px;
  /* -moz-box-shadow: 2px 2px 2px silver;
  -webkit-box-shadow: 2px 2px 2px silver; */
  z-index: 99999;
}

#contextMenuCAB li {
  padding: 4px 4px 4px 14px;
  list-style: none;
  cursor: pointer;
  /* background: url('@Url.Content("~/Content/images/arrow_right_peppermint.png")') */
  /* no-repeat center left; */
}

#contextMenuCAB li:hover {
  background-color: white;
}

.hide-column{
display: none;
}
.Coupler-Type{
  color: red;
}
