<div class="container-fluid">
    <div class="logo2">
        <div class="card m-1">
            <!-- <div class="d-flex">
            <img _ngcontent-cii-c59="" src="../../../assets/imagesuiux/on-line.png" alt="Natseetl" class="desktop" style="height: 40px;">
            <h3>
                <b> OFFLINE BBS LIST (离线BBS列表)</b>
            </h3>
        </div> -->
        <h3 class="card-header d-flex flex-column justify-content-center">
            <span> <img src="../../../assets/imagesuiux/on-line.png" style="width: 40px;height: 40px;">
            <b>Offline BBS List (离线BBS列表)</b>
          </span>
        </h3>
            <div class="header-button">
                <div>
                    <button class="btn btn-primary btn-sm" type="button">
                        Login (登录)
                    </button>
                </div>
                <div>
                    <button class="btn btn-primary btn-sm" type="button">
                        Activate Offline BBS (激活离线BBS)
                    </button>
                </div>
            </div>
        
    </div>
    <div class="offline-body" style="height:500px">

    </div>
    <div class="offline-footer">
        <h3>
            <b>Total Saved Orders: 0</b>
        </h3>
        <div class="footer-button">
            <div>
                <button class="btn btn-primary btn-sm" type="button" (click)="OpenAttachments(false)">
                    New PO (新建订单)
                </button>
            </div>
            <div>
                <button class="btn btn-primary btn-sm" type="button" (click)="DeleteAlert()">
                    Delete PO (删除订单)
                </button>
            </div>
            <div>
                <button class="btn btn-primary btn-sm" type="button" (click)="CopyBBSAttachments(false)">
                    Copy PO (复制订单)
                </button>
            </div>
            <div>
                <button class="btn btn-primary btn-sm" type="button" (click)="Alert()">
                    Data Backup (数据备份)
                </button>
            </div>
            <div>
                <button class="btn btn-primary btn-sm" type="button">
                    Data Restore (数据恢复)
                </button>
            </div>
        </div>
    </div>
</div>
</div>
