.box {
  display: flex;
  flex-grow: 10px
}

.form-label1 {
  margin-bottom: 0.5rem;
  margin-top: 5px;
}

.custom-switch1 {
  padding-left: 3rem;
}

.validator-message {
  font-size: x-small;
}

.green-border {
  border-width: 2px !important;
  border-color: green !important;
  border-style: solid !important;
}

.yellow-border {
  border-width: 2px !important;
  border-color: yellow !important;
  border-style: solid !important;
}

.red-border {
  border-width: 2px !important;
  border-color: red !important;
  border-style: solid !important;
}

.blue-border {
  border-width: 2px !important;
  border-color: blue !important;
  border-style: solid !important;
}




/* TRIAL TOGLE */

.checkbox {
  display: none;
}

.slider {
  width: 60px;
  height: 30px;
  background-color: lightgray;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  border: 4px solid transparent;
  transition: .3s;
  box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.25) inset;
  cursor: pointer;
}

.slider::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform: translateX(-30px);
  border-radius: 20px;
  transition: .3s;
  box-shadow: 0 0 10px 3px rgb(0, 0, 0, 0.25);
}

.checkbox:checked~.slider::before {
  transform: translateX(30px);
  box-shadow: 0 0 10px 3px rgb(0, 0, 0, 0.25);
}

.checkbox:checked~.slider {
  background-color: #2196F3;
}

.checkbox:active~.slider::before {
  transform: translate(0);
}


/* input TOGGLE */


.group {
  position: relative;
}

.input {
  font-size: 13px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 200px;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
}

.input:focus {
  outline: none;
}

/* .ng-select1 {
  font-size: 13px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 200px;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
} */

/* .select1 {
  font-size: 13px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 200px;
  background: transparent;
} */


.select1:focus~.label1 {
  top: -20px;
  font-size: 14px;
  color: #5264AE;
}

.label1 {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: relative;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.input:focus~.label1,
.input:valid~.label1 {
  top: -20px;
  font-size: 14px;
  color: #5264AE;
}

.ng-select:focus-within~.label1{
  top: -20px;
  font-size: 14px;
  color: #5264AE;
}
.label2 {
  position: relative;
  top: -50px;
  right: -5.5px;
  font-size: 14px;
  color: #5264AE;
}


.bar {
  position: relative;
  display: block;
  width: 200px;
}

.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

.input:focus~.bar:before,
.input:focus~.bar:after {
  width: 50%;
}

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.input:focus~.highlight {
  animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }

  to {
    width: 0;
    background: transparent;
  }
}