.ui-dialog-title {
  float: left;
  margin: .1em 0;
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.modal-header {
  border: 1px solid #aaa;
  background: #ccc;
  color: #222;
  font-weight: bold;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}
.modal-content{
  width: 70vw;
  height: 70vh;
}
h3{
  font-weight: 600;
}


 .new-table thead {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #003ec4;
}
  .new-table tbody {
    position: sticky !important;
    z-index: 10;
  }
  .new-table tbody td {
    position: sticky !important;
    z-index: 10;
    border-radius: 0px !important;
  }
 
  table th {
    color: white;
    background-color: #003ec4 !important;
  }
  tr:hover{
    background-color:#8BCCE8;

  }


.my-table caption {
    caption-side: bottom;  
    text-align: right;     
    padding-top: 7px;  
    /* color: red;     */
    
}


/* .modal-footer .btn {
  min-width: 120px;
} */

::ng-deep .pagination .page-link {
  padding: 2px 6px;    
  font-size: 0.8rem;   
  line-height: 1.2;    
}
.box {
    display: flex;
    flex-grow:10px
  }
  .ng-selectcustomer {    
    width: 200px;
  }

  .colbutton {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 5px;
    padding-left: 10px;
    }

    .icon-large2{
      font-size: 1.8rem; /* Adjust the size */
      color: #007bff; /* Set initial color */
      cursor: pointer; /* Make it clickable */
      transition: transform 0.2s ease, color 0.2s ease; /* Add smooth animations */
    }
    .icon-large {
      font-size: 1.8rem; /* Adjust the size */
      color: #007bff; /* Set initial color */
      cursor: pointer; /* Make it clickable */
      transition: transform 0.2s ease, color 0.2s ease; /* Add smooth animations */
    }
    
    .icon-large:hover {
      color: #0056b3; /* Change color on hover */
      transform: scale(1.1); /* Slightly increase size on hover */
    }
    
    .icon-large:active {
      transform: scale(1); /* Subtle shrink effect on click */
    }
 ::ng-deep .modal .modal-xxl {
  max-width: 75vw !important;
}
h4{
    font-weight: 800;
    color: black;
}