.track-icon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #707070;
    background-color: #fff;
    text-align: center;
    margin: 0 auto;
}

.track-order-inner{
    width: 20%;
    float: left;
    box-sizing: border-box;
    padding: 20px 0 0 0;
    background: url(../../../../assets/imagesuiux/minus.svg) top 50% center repeat-x;
    background-size: 6%;
}

.trach-img{
    margin:18%;
}

.container-fluid {
    padding: 0px;
  }
  .mainHeading {
    font-size: x-large;
    font-weight: 500;
    padding: 10px 0;
    background: #d8dcdf;
  }
  .footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    background: inherit;
  }