.modal-backdrop {
    z-index: 1040 !important;
}
.modal-content {
    margin: 2px auto;
    z-index: 1100 !important;
}
.modal-backdrop {
    /* bug fix - no overlay */    
    display: none;    
}
.modal-content
{
    position: absolute  !important;
}