.image-clicked{
    border: 2px solid greenyellow;
  }
  img{
    cursor: pointer !important;
  }
  .modal-body .row{
    height: 70vh !important;
    scroll-behavior: smooth;
    overflow-y: scroll;
  }
  button{
    cursor: pointer !important;
  }
  