
.disabled-ng-select {
    pointer-events: none;
    /* Disable mouse events */
    opacity: 0.5;
    /* Optionally reduce opacity to indicate disabled state */
}

.required-label {
    color: red;
  }