#mydiv1 {
    position: absolute;
    cursor: move;
    border: 1px solid #000;
    background-color: white;
    z-index: 100;
    min-width: 1000px;
    max-width: 750px;
    transition: right 0.1s, top 0.1s;
}