.container-fluid {
    padding: 0px;
  }
  .mainHeading {
    font-size: x-large;
    font-weight: 500;
    padding: 10px 0;
    background: #d8dcdf;
  }
  .footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    background: inherit;
  }
  
   /* .movable-container {
    display: block;
    position: absolute;
    cursor: grab;
    border: 1px solid #000;
    background-color: white;
    z-index: 100;
    padding: 35px;
    padding-top: 0px;
    
    transition: right 0.1s, top 0.1s;
  }  */
  
  #mydiv2 {
    position: absolute;
  
    cursor: move;
    border: 1px solid #000;
    background-color: white;
    z-index: 100;
    min-width: 1000px;
    max-width: 750px;
   
    transition: right 0.1s, top 0.1s;
  }

  .main-body{
    padding: 10px;
  }