.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 70vh;
    overflow-y: auto;
    
}

canvas {
    display: block;
    border: 1px solid 
  rgb(105, 105, 105);
    background-color: var(--ion-color-success);
    /* width: 100%; */
  }
  button {
    margin: 10px;
    margin-left: 10px;
  }

  .required-label {
    color: red;
  }