.heading {
  font-size: large;
  font-weight: 500;
}
.subheading {
  font-size: medium;
  font-weight: 500;
}

.tablebuttons {
  width: 170px;
  height: 28px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: center;
}

.col {
  flex-basis: 0;
  flex-grow: 0;
  max-width: 100%;
  padding: 0 5px;
}

img {
  width: 190px;
}

.empty-field {
  background-color: wheat; /* or any other color you prefer */
}

.Green-Steel-label {
  width: 12rem;
  font-size: large;
  font-weight: 500;
  padding-bottom: 2px;
}

.Green-steel-perc-label {
  width: 12rem;
  font-size: large;
  font-weight: 500;
  padding-bottom: 2px;
  display: flex;
}

.Green-Steel {
  width: 5rem;
  font-size: x-large;
  padding-bottom: 1rem;
  padding-left: 0;

  input {
    margin-left: 0;
  }
}

.form-check :checked {
  background-color: #0dfd1f;
  border-color: #0dfd1f;
}