<div class="confirmation-dialog">
    <h3>Are you sure,you want to Remove this User?</h3>
    <div class="button-container">
        <!-- <button  (click)="confirm()" style="background-color:green ;">Yes</button> -->
        <button class="btn btn-primary btn-sm" style="background-color:green ;" (click)="confirm()">Yes</button>
        <button class="btn btn-secondary btn-sm" (click)="cancel()">No</button>
        <!-- <button (click)="cancel()" style="color:red ;">No</button> -->
    </div>
</div>