<div class="card m-1" [class.blur]="isLoading">
  <h3 class="card-header d-flex justify-content-between align-items-center">
    <span class="d-flex align-items-center">
      <img src="../../../assets/imagesuiux/review.png" style="width: 40px;height: 40px;">
      <b> {{OutsourceType}}</b>
    </span>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
  </h3>

  <div class="d-flex justify-content-start">

    <div class="col-md-2">
      <label class="required-label" style="padding-right:5px;">* </label>
      <label class="form-label"><b>Supplier</b></label>
      <ng-select [selectOnTab]="true" [(ngModel)]="selectedVendor" class="w-auto" placeholder="Select Supplier"
        [clearable]="true">
        <!-- <ng-option [value]="' 1234 '"> 1234-zsoop </ng-option> -->
        <ng-option *ngFor="let supplier of supplierList" [value]="supplier.SupplierCode">
          {{ supplier.SupplierCode }}-{{ supplier.SupplierName }}
        </ng-option>
      </ng-select>
    </div>


    <div class="col-md-2">
      <label class="required-label" style="padding-right:5px;">* </label>
      <label class="form-label"><b>Delivered By</b></label>
      <ng-select [selectOnTab]="true" [(ngModel)]="selectedDeliveredBy" class="w-auto"
        placeholder="Select Delivered By">
        <ng-option [value]="' NSH '"> NSH </ng-option>
        <ng-option [value]="'Subcon'">Subcon</ng-option>
      </ng-select>
    </div>
    <div class="col-md-2">
      <!-- <label class="required-label" style="padding-right:5px;">* </label> -->
      <label class="form-label"><b>Contract Number</b></label>
      <ng-select [selectOnTab]="true" [(ngModel)]="selectedContractNo" class="w-auto"
        placeholder="Select Contract Number">
        <!-- <ng-option [value]="' 1234 '"> 1234-zsoop </ng-option> -->
        <ng-option *ngFor="let supplier of getContractsForSelectedSupplier()" [value]="supplier.ContractNo">
          {{ supplier.ContractNo }}-{{supplier.ContractDesc}}
        </ng-option>
      </ng-select>
    </div>
    <div class="col-md-2">
      <label class="required-label" style="padding-right:5px;">* </label>
      <label class="form-label"><b>Required Delivery Date</b></label>
      <input type="date" class="form-control" [(ngModel)]="ReqDelDate" [min]="today">
    </div>
    <div class="col-md-2">
      <label class="form-label"> </label>
      <div class="d-flex">
        <button class="btn btn-primary btn-sm" type="button" ngbTooltip="Assign Order"
          (click)="assignPartialOutSource()">Assign Order</button>
      </div>
    </div>
  </div>
  <div class="card-body" style="margin-top: -47px !important;padding-bottom: 0%;padding-top: 1.5%;">
    <div class="filter">
      <form [formGroup]="activeorderForm" (ngSubmit)="onSubmit()" style="display: none;">
        <div class="row">
          <ngb-accordion #acc="ngbAccordion" [activeIds]="['panel1']" class="mobile2" style="padding-top: 14px">
            <ngb-panel id="panel1">

              <ng-template ngbPanelContent>
                <div class="card-body" style="padding: 0.5%">
                  <div class="row">
                    <div class="col-md-5">
                      <label class="form-label"></label> <br />
                      <div class="input-group flex-nowrap" *ngIf="searchResult" style="padding-right: 30px">
                        <input class="form-control" type="search" placeholder="Search (查找) " value="search"
                          id="example-search-input" name="search" [(ngModel)]="searchText"
                          [ngModelOptions]="{ standalone: true }" />
                        <span class="input-group-append ms-n5">
                          <span class="input-group-text">
                            <i class="bi bi-search"></i>
                          </span>
                        </span>
                      </div>
                    </div>
                    <div class="col-md-1">
                      <label class="form-label"></label> <br />
                      <div class="input-group flex-nowrap">
                        <div class="mr-0" style="margin-top: -6px">
                          <span class="btn input-group-text">
                            <i class="material-icons" style="font-size: 20px" ngbTooltip="Export(导出)">download</i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </form>
      <div class="row logo2 customerandprojecthideonweb" style="padding: 0% ;margin-top: 1%;">
        <div _ngcontent-auh-c182="" class="col-md-6" style="font-size: medium;padding-right: 0px;"><br
            _ngcontent-auh-c182=""><br><b _ngcontent-auh-c182="">
            Order Header</b>
        </div>
        <div class="col-md-4 float-left" style="padding-left: 0px;padding-right: 0px;">
          <label class="form-label"></label> <br />
          <div class="input-group flex-nowrap" *ngIf="searchResult">
            <input class="form-control" type="search" placeholder="Search (查找)" value="search" id="example-search-input"
              name="search" [(ngModel)]="searchText" [ngModelOptions]="{ standalone: true }" />
            <span class="input-group-append ms-n5">
              <span class="input-group-text">
                <i class="bi bi-search"></i>
              </span>
            </span>
          </div>
        </div>
        <div class="col-md-1">
          <label class="form-label"></label> <br />
          <div class="input-group flex-nowrap">
            <div class="mr-0 pd-0 d-flex" style="margin-top: -6px">
              <span class="btn input-group-text">
                <i class="material-icons" style="font-size: 20px" ngbTooltip="Export   (导出)">download</i>
              </span>&nbsp;&nbsp;
              <span class="btn input-group-text" (click)="editColumn = !editColumn" (mouseenter)="HoverSetting=true"
                (mouseleave)="HoverSetting=false">
                <i class="bi bi-gear-fill" style="font-size: medium; z-index: 1" ngbTooltip="Edit Column"></i></span>
            </div>
          </div>
        </div>
      </div>
      <div class="setting-menu float-right logo2" [class.mat-elevation-z8]="true" *ngIf="editColumn"
        (mouseenter)="HoverSetting=true" (mouseleave)="HoverSetting=false">
        <div class="d-flex heading">
          <div class="d-flex" style="width: 50%; justify-content: space-between">
            <label class="fixed-xolumn-head">Fixed Columns: </label>
            <input class="form-control" type="number" max="7" min="0" [(ngModel)]="fixedColumn"
              (change)="UpdateFixedColumns(fixedColumn)" />
          </div>
          <button type="button" class="btn-close" aria-label="Close" (click)="editColumn = false"></button>
        </div>
        <hr style="margin: 10px;border-top: 1px solid #101112;" />
        <div class="d-flex" style="
                                    justify-content: space-between;
                                    align-items: flex-end;
                                    padding-left: 5px;
                                  ">
          <span>Visible Colums</span>
        </div>
        <div class="d-flex">

          <table class="table table-bordered mobile2" style="height: fit-content" style="min-width: 0">
            <tbody>
              <tr *ngFor="let headerColumn of splitArray(1,BatchGenColumns);">
                <td>{{headerColumn.displayName}}</td>
                <td><input type="checkbox" [(ngModel)]="headerColumn.isVisible" [checked]="headerColumn.isVisible"
                    (ngModelChange)="SaveColumnsSetting()">
                </td>
              </tr>
            </tbody>
          </table>
          <table class="table table-bordered mobile2" style="height: fit-content" style="min-width: 0">
            <tbody>
              <tr *ngFor="let headerColumn of splitArray(0,BatchGenColumns);">
                <td>{{headerColumn.displayName}}</td>
                <td><input type="checkbox" [(ngModel)]="headerColumn.isVisible" [checked]="headerColumn.isVisible"
                    (ngModelChange)="SaveColumnsSetting()">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div>
        <div class="table-responsive table-wrapper-scroll-y my-custom-scrollbar order-table" *ngIf="loading">
          <cdk-virtual-scroll-viewport itemSize="100" #scrollViewportENT (scroll)="syncScroll($event)"
            style="height: 53vh;">
            <form [formGroup]="searchForm">
              <table class="table new-table">
                <thead [style.top]="inverseOfENT" id="DraftOrderHeading" [ngStyle]="{'position':'sticky','top': '0px'}">

                  <tr [style.top]="inverseOfENT" cdkDropList cdkDropListOrientation="horizontal"
                    [cdkDropListData]="BatchGenColumns" (cdkDropListDropped)="dropCol($event)">

                    <ng-container *ngFor="let headerColumn of BatchGenColumns;index as headIndex;">
                      <th #thNomVar [style.top]="inverseOfENT"
                        (click)="toggleSortingOrder(headerColumn.field,headerColumn.colName)" [style.cursor]="'pointer'"
                        [style.left]="(headIndex+1) <= fixedColumn ? getRightWidthTest(thNomVar,headIndex) : 'inherit'"
                        [style.display]="'table-cell'" [class.FixedColumn]="(headIndex+1) <= fixedColumn"
                        *ngIf="headerColumn.isVisible" style="cursor: pointer; background-color: #003ec4b3; border-radius: 0px;
                            white-space: normal; word-wrap: break-word;" cdkDrag>
                        <div [style.width.px]="headerColumn.resizeWidth" role="columnheader">
                          <div class="d-flex" [style.width.px]="headerColumn.resizeWidth" style="
                                                    align-items: center;
                                                    justify-content: space-between; 
                                                  ">
                            <span style="color: white; font-size: medium;white-space: normal; word-break: break-word;"
                              [style.width.px]="headerColumn.resizeWidth">
                              {{headerColumn.displayName}}<br />{{headerColumn.chineseDisplayName}}</span>
                            <i class="bi bi-arrow-up"
                              style="color: white; font-weight: 900; font-size: 1.2rem; text-shadow: 0 0 1px white;"
                              *ngIf="
                                                      !isAscending && currentSortingColumn == headerColumn.field"></i><i
                              class="bi bi-arrow-down"
                              style="color: white; font-weight: 900; font-size: 1.2rem; text-shadow: 0 0 1px white;"
                              *ngIf="
                                                      isAscending && currentSortingColumn == headerColumn.field"></i>
                          </div>
                        </div>
                        <div [style.width.px]="headerColumn.resizeWidth"></div>

                      </th>
                    </ng-container>



                </thead>

                <tbody>
                  <tr class="no-record" *ngIf="FullOutsourceOrders.length == 0">
                    <td colspan="16" style="text-align: center">
                      No Record Found
                    </td>
                  </tr>
                  <ng-container *ngFor="
                      let item of FullOutsourceOrders | filter : searchText;
                      index as i;">


                    <tr class="draft-table" [class.row-focused]="selectedRowIndex === i"
                      [class.shared-draft-table]="item.OrderShared" (keydown)="onRowKeyDown($event, i)"
                      [attr.tabindex]="selectedRowIndex === i ? '0' : '-1'"
                      [attr.aria-selected]="selectedRowIndex === i" style="cursor: pointer;" [attr.data-index]="i">
                      <ng-container *ngFor="let showDataColumn of BatchGenColumns;index as searchIndex;">
                        <td [style.width]="showDataColumn.width+ 'px !important'"
                          [style.left]="(searchIndex+1) <= fixedColumn ? showDataColumn.left+'px !important' : 'inherit'"
                          [style.display]="'table-cell'" [class.FixedColumn]="(searchIndex+1) <= fixedColumn"
                          *ngIf="showDataColumn.isVisible" [title]="item[showDataColumn.colName]"> {{
                          item[showDataColumn.colName]}}</td>
                      </ng-container>

                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </form>
          </cdk-virtual-scroll-viewport>
        </div>
        <div *ngIf="isLoading" class="loader-overlay">
          <div class="loader"></div>
          <div class="loader-text">Loading...</div>
        </div>