.container-fluid {
    padding: 0;
}

.Header {
    display: flex;
    justify-content: space-between;
    font-size: x-large;
    padding: 10px 5px;
    background: #e6e6e6;

    span {
        display: flex;
        align-items: center;
        font-size: larger;
        font-weight: 500;
    }
}

.subHeading {
    font-size: large;
    padding: 8px;
    border-bottom: 1px solid #e6e6e6;
    background: #eeeeee;
}

.table-data {
    height: 80vh;
    padding: 15px;
    overflow: overlay;

    table {
        width: 100%;
    }
}

.table-header {
    font: 17px Helvetica, Arial, sans-serif;
    margin-top: 6px;
    margin-bottom: 6px;
    text-align: center;
    font-weight: 600;
}

.table-body {
    font: 12px Helvetica, Arial, sans-serif;
    cursor: pointer;
    text-align: center;
    padding: 6px;
    /* replaces cellspacing */
}

/* 
'rgb(0, 255, 0)' */