 .new-table thead {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #003ec4;
}
  .new-table tbody {
    position: sticky !important;
    z-index: 10;
  }
  .new-table tbody td {
    position: sticky !important;
    z-index: 10;
    border-radius: 0px !important;
  }
 
  table th {
    color: white;
    background-color: #003ec4 !important;
  }
  tr:hover{
    background-color:#8BCCE8;
   
   
   
  }
  

  
::ng-deep .modal .modal-xxl {
  max-width: 50vw !important;
}

  .ui-dialog-title {
  float: left;
  margin: .1em 0;
  white-space: nowrap;
   width: 90vw; 
  overflow: hidden;
  text-overflow: ellipsis;
}
.modal-header {
  border: 1px solid #aaa;
  background: #ccc;
  color: #222;
  font-weight: bold;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}
.modal-content{
 width: 100vw;
  /* height: 80vh; */
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: flex;
  flex-direction: column;}
h3{
  font-weight: 600;
}
