.custom-switch {
    padding-left: 78px;
    padding-top: 20px;
    padding-bottom: 20px;
}

body {
    margin: 4rem auto;
  }
  .jumbotron {border-radius: 0;margin-bottom: 0;}
  
  .jumbotron.df-bg-primary {
    background-color: #3269D4;
  }
  
  .df-switch {
    margin-top: 20px;
    padding: 2rem;
    text-align: center;
  }
  .btn-toggle {
    top: 50%;
    transform: translateY(-50%);
  }
  .btn-toggle {
    margin: 0 4rem;
    padding: 0;
    position: relative;
    border: none;
    height: 1.5rem;
    width: 5rem;
    border-radius: 1.5rem;
    color: #6b7381;
    background: #0885da;
  }
  .btn-toggle:focus,
  .btn-toggle.focus,
  .btn-toggle:focus.active,
  .btn-toggle.focus.active {
    outline: none;
  }
  .btn-toggle:before,
  .btn-toggle:after {
    line-height: 1.5rem;
    width: 4rem;
    text-align: center;
    font-weight: 600;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    transition: opacity 0.25s;
  }
  .btn-toggle:before {
    content: 'Detailing BOM';
    left: -8rem;
    color: #3269D4;
    max-width:100% !important;
    position: relative;
    top:-8px;
    left: -92px;
  }
  .btn-toggle:after {
    content: 'Prodution BOM';
    right: -13rem;
    opacity: 0.5;
    color: #14A38B;
    max-width: 100% !important;
  }
  .btn-toggle > .inner-handle {
    border-radius: 13px;
    width: 65px;
    height: 13px;
    position: absolute;
    top: 6px;
    left: 8px;
    background-color: #3269D4;
    box-shadow: inset 1px 1px 2px -1px black;
  }
  .btn-toggle.active > .inner-handle {
    background-color: #14A38B;
  }
  .btn-toggle > .handle:before {
    content: "";
    position: absolute;
    height: 34px;
    width: 34px;
    top: 35%;
    left: 11px;
    background-image: radial-gradient(circle at center, #3269D4 5px, transparent 5px);
    background-size: 10px 10px;
    background-repeat: no-repeat;
  }
  .btn-toggle.active > .handle:before {
    background-image: radial-gradient(circle at center, #14A38B 5px, transparent 5px);
  }
  .btn-toggle > .handle {
    position: absolute;
    top: -0.2875rem;
    left: 0.3875rem;
    width: 2.125rem;
    height: 2.125rem;
    border-radius: 1.125rem;
    background: #fff;
    transition: left 0.25s;
    border: 1px solid #ccc;
  }
  .btn-toggle.active {
    transition: background-color 0.25s;
  }
  .btn-toggle.active > .handle {
    left: 2.4175rem;
    transition: left 0.25s;
  }
  .btn-toggle.active:before {
    opacity: 0.5;
  }
  .btn-toggle.active:after {
    opacity: 1;
    color: #14A38B;
  }
  .btn-toggle.active {
    background-color: #14A38B;
  }

  .image_dim{
    width: 133px;
    height: 182px;
  }
  /* .btn-toggle.btn-lg {
    margin: 0 5rem;
    padding: 0;
    position: relative;
    border: none;
    height: 2.5rem;
    width: 5rem;
    border-radius: 2.5rem;
  }
  .btn-toggle.btn-lg:focus,
  .btn-toggle.btn-lg.focus,
  .btn-toggle.btn-lg:focus.active,
  .btn-toggle.btn-lg.focus.active {
    outline: none;
  }
  .btn-toggle.btn-lg:before,
  .btn-toggle.btn-lg:after {
    line-height: 2.5rem;
    width: 5rem;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    transition: opacity 0.25s;
  }
  .btn-toggle.btn-lg:before {
    content: 'ENGLISH';
    left: -6rem;
  }
  .btn-toggle.btn-lg:after {
    content: 'SPANISH';
    right: -6rem;
    opacity: 0.5;
  }
  .btn-toggle.btn-lg > .handle {
    position: absolute;
    top: 0.3125rem;
    left: 0.3125rem;
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 1.875rem;
    background: #fff;
    transition: left 0.25s;
  }
  .btn-toggle.btn-lg.active {
    transition: background-color 0.25s;
  }
  .btn-toggle.btn-lg.active > .handle {
    left: 2.8125rem;
    transition: left 0.25s;
  }
  .btn-toggle.btn-lg.active:before {
    opacity: 0.5;
  }
  .btn-toggle.btn-lg.active:after {
    opacity: 1;
  } */
  .canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  border: none;
  height: 100vh; /* Adjust this to your preference */
}

canvas {
  /* border: 1px solid black; */
  border: none;
  max-width: 700px;
  max-height: 700px;
  min-width: none;
  min-width: none;
  position: absolute;
  top: 0px;
  left: 0px;
}
.image-class{
  position: relative;
    left: 0px;
    padding-left: 30px;
    padding-top: 10px;
}


/* Vanita */

.switches-container {
  width: 20rem;
  position: relative;
  display: flex;
  padding: 0;
  position: relative;  
  background: #e9ecef;
  line-height: 3rem;
  border-radius: 3rem;
  margin-left: auto;
  margin-right: auto;
}

/* input (radio) for toggling. hidden - use labels for clicking on */
.switches-container input {
  visibility: hidden;
  position: absolute;
  top: 0;
}

/* labels for the input (radio) boxes - something to click on */
.switches-container label {
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  cursor: pointer;
  color: black
}

/* switch highlighters wrapper (sliding left / right) 
  - need wrapper to enable the even margins around the highlight box
*/
.switch-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  padding: 0.15rem;
  z-index: 3;
  transition: transform .5s cubic-bezier(.77, 0, .175, 1);
  /* transition: transform 1s; */
}

/* switch box highlighter */
.switch {
  border-radius: 3rem;
  background:#14a38b;
  height: 90%;
  
}

/* switch box labels
  - default setup
  - toggle afterwards based on radio:checked status 
*/
.switch div {
  width: 100%;
  text-align: center;
  opacity: 0;
  display: block; 
  font-weight: bold; 
  color: White ;
  transition: opacity .2s cubic-bezier(.77, 0, .175, 1) .125s;
  will-change: opacity;
  position: absolute;
  top: 0;
  left: 0;
}

/* slide the switch box from right to left */
.switches-container input:nth-of-type(1):checked~.switch-wrapper {
  transform: translateX(0%);
}

/* slide the switch box from left to right */
.switches-container input:nth-of-type(2):checked~.switch-wrapper {
  transform: translateX(100%);
}

/* toggle the switch box labels - first checkbox:checked - show first switch div */
.switches-container input:nth-of-type(1):checked~.switch-wrapper .switch div:nth-of-type(1) {
  opacity: 1;
}

/* toggle the switch box labels - second checkbox:checked - show second switch div */
.switches-container input:nth-of-type(2):checked~.switch-wrapper .switch div:nth-of-type(2) {
  opacity: 1;
}