<!-- <html>

<head>
    <title></title>

</head>

<body>

    <button id="btnVLine" (click)="createGroupLine()">Horizontal Line</button>
    <button id="btnHLine" (click)="createGroupHLine()">Vertical Line</button>
    <button id="btnArc" (click)="createGroupAre()"> Arc </button>
    <button id="btnAngle" (click)="createGroupAngle()">Angle </button>
    <button id="btnText" (click)="createGroupText()">Text </button>
    <button id="btnDelete" (click)="DeleteGroup()">Delete</button>
    <button id="ClearAll" onclick="clearall()">Clear All</button>
    <button id="Save" onclick="save_filename()">Save</button>

    <br>
    <br>
    <canvas id="fabricCanvas" #canvas></canvas>

    <script src="main5.js"></script>


</body>

</html> -->
