.container-fluid {
  padding: 0px;
}

#Heading div {
  font-size: large;
  font-weight: 500;
  padding: 5px;
  background: #dfdfdf;
}
.d-flex {
  align-items: center;
}

label {
  margin: 0px;
  width: 30%;
}

#inputDropdown {
  padding: 10px;
}

#footer .d-flex {
  justify-content: flex-end;
}

ng-select {
  width: 50%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: button;
}

#mydiv {
  position: absolute;

  cursor: move;
  border: 1px solid #000;
  background-color: white;
  z-index: 100;
  min-width: 1200px;
  max-width: 750px;
 
  transition: right 0.1s, top 0.1s;
}